<ul>
  <li><%= link_to _('Product Categories'), { :controller => 'product_categories' }  %></li>
  <li><%= link_to _('Products'), { :controller => 'products' }  %></li>
  <li><%= link_to _('Suppliers'), { :controller => 'suppliers' }  %></li>
</ul>
