<ul>
  <li><%= link_to _('Product Categories'), { :controller => 'product_categories' }  %></li>
  <li><%= link_to _('Products'), { :controller => 'products' }  %></li>
  <li><%= link_to _('Suppliers'), { :controller => 'suppliers' }  %></li>
  <li><%= link_to _('Stock'), { :controller => 'stock' }  %></li>
  <li><%= link_to _('Store'), { :controller => 'store' } %></li>
  <li><%= link_to _('User administration'), { :controller => 'permissions' } %></li>
  <li><%= link_to _('Customers'), { :controller => 'customers' } %></li>
</ul>
