
<%= title t(:edit_invoice) %>

<% form_tag( :action => 'update', :id => @invoice )  do %>

  <%= render :partial => 'form'%>

  <%= display_new_info_options @invoice %>

<% end %>

<%= subtitle t(:invoice_items:) %>

<div id="abelo_invoice_items">
  <%= render :partial => 'invoice_new_items' %>
</div>

<%= subtitle _("Invoice Payments: ") %>

<div id="abelo_payment">
  <%= render :partial => 'shared_payments/new_payment'%>
</div>
