<% if @ledger.payment_method == Payment::DEBIT_CARD %>
  <%= render :partial => 'shared_payments/payment_debit_card_on_table'%>
<% elsif @ledger.payment_method == Payment::CREDIT_CARD %>
  <%= render :partial => 'shared_payments/payment_credit_card_on_table'%>
<% elsif @ledger.payment_method == Payment::CHECK %>
  <%= render :partial => 'shared_payments/payment_check_on_table'%>
<% end %>

