<div style="clear:both">
    <div class="sidebar">
        <div id="action" class="ligth_blue" >
        </div>
    </div>
    
  <div id="list" class="inner_context blue">
    <%= render :partial => 'list' %>
  </div>
</div>
