<h3> <%= _('New Ledger Category') %> </h3>

<% form_remote_tag :url => {:action => 'create'} do %>
  <%= render :partial => 'form' %>
  <%= submit_tag _("Create") %>
  <%= link_to_remote "limpar", :url => {:action => 'clean'} %>
<% end %>
