<h3> <%= _('New Ledger Category') %> </h3>

<% form_tag :action => 'create' do %>
  <%= render :partial => 'form' %>
  <%= submit_tag _("Create") %>
  <%= link_to_remote _('Clean'), :url => {:action => 'clean'} %>
<% end %>
