<%= category_hierarchy @category %>

<ul id="store_list">
  <% @products.each do |p| %>
    <li>
      <%= image_link p.image, :url => { :action => 'product', :product_id => p.id} %>
      <p><%= design_link_to_remote p.name, :url => {:action => 'product', :product_id => p.id} %></p>
    </li>
  <% end %>
</ul>
