[submodule "vendor/plugins/bsc_plugin"]
	path = vendor/plugins/bsc_plugin
	url = git://github.com/leandronunes/bsc_plugin.git
[submodule "vendor/plugins/i18n_parser"]
	path = vendor/plugins/i18n_parser
	url = git://github.com/leandronunes/i18n_parser.git
[submodule "vendor/plugins/will_paginate"]
	path = vendor/plugins/will_paginate
	url = git://github.com/leandronunes/will_paginate.git
[submodule "vendor/plugins/design"]
	path = vendor/plugins/design
	url = git://github.com/leandronunes/design.git
[submodule "vendor/plugins/access_control"]
	path = vendor/plugins/access_control
	url = git://github.com/leandronunes/access_control.git
