[submodule "vendor/plugins/bsc_plugin"]
	path = vendor/plugins/bsc_plugin
	url = git://github.com/leandronunes/bsc_plugin.git
[submodule "vendor/plugins/i18n_parser"]
	path = vendor/plugins/i18n_parser
	url = git://github.com/leandronunes/i18n_parser.git
[submodule "vendor/plugins/will_paginate"]
	path = vendor/plugins/will_paginate
	url = git://github.com/leandronunes/will_paginate.git
[submodule "vendor/plugins/design"]
	path = vendor/plugins/design
	url = git://github.com/leandronunes/design.git
[submodule "vendor/plugins/access_control"]
	path = vendor/plugins/access_control
	url = git://github.com/leandronunes/access_control.git
[submodule "vendor/plugins/acts_as_taggable_on_steroids"]
	path = vendor/plugins/acts_as_taggable_on_steroids
	url = git://github.com/leandronunes/acts_as_taggable_on_steroids.git
[submodule "vendor/plugins/acts_as_tree"]
	path = vendor/plugins/acts_as_tree
	url = git://github.com/leandronunes/acts_as_tree.git
[submodule "vendor/plugins/attachment_fu"]
	path = vendor/plugins/attachment_fu
	url = git://github.com/leandronunes/attachment_fu.git
[submodule "vendor/plugins/auto_complete"]
	path = vendor/plugins/auto_complete
	url = git://github.com/leandronunes/auto_complete.git
[submodule "vendor/plugins/doc_browser"]
	path = vendor/plugins/doc_browser
	url = git://github.com/leandronunes/doc_browser.git
[submodule "vendor/plugins/fckeditor"]
	path = vendor/plugins/fckeditor
	url = git://github.com/leandronunes/fckeditor.git
[submodule "vendor/plugins/popup_plugin"]
	path = vendor/plugins/popup_plugin
	url = git://github.com/leandronunes/popup_plugin.git
[submodule "vendor/plugins/rails_rcov"]
	path = vendor/plugins/rails_rcov
	url = git://github.com/leandronunes/rails_rcov.git
[submodule "vendor/plugins/tabbed_navigation"]
	path = vendor/plugins/tabbed_navigation
	url = git://github.com/leandronunes/tabbed_navigation.git
[submodule "vendor/plugins/validates_as_cpf"]
	path = vendor/plugins/validates_as_cpf
	url = git://github.com/leandronunes/validates_as_cpf.git
[submodule "vendor/plugins/validates_as_cnpj"]
	path = vendor/plugins/validates_as_cnpj
	url = git://github.com/leandronunes/validates_as_cnpj.git
[submodule "vendor/plugins/acts_as_ferret"]
	path = vendor/plugins/acts_as_ferret
	url = git://github.com/leandronunes/acts_as_ferret.git
