
<%= title t(:listing_permissions) %>

<%= display_list_options 'user', 'login', :organization_id => @organization.id %>

<%= display_collection @users, :organization_id => params[:organization_id] %>

<%= will_paginate @users, :params => {:query => @query} %>
