<%= title( t(:new_user)) %>

<% form_tag :action => 'create', :id => @user, :organization_id => @organization.id  do %>
  <%= render :partial => 'permissions_base/form' %>
  <%= display_new_info_options @user, :organization_id => @organization.id %>
<% end %>

