
<%= title _('Stock Replenishment of Product %s') % @stock.product.name %>

<% form_tag( :action => 'create', :product_id => @stock.product  )  do %>

  <%= render :partial => 'form'%>

  <%= display_new_info_options @stock %> 

<% end %>

