.controller-cms .article__body_editor {
opacity: 1.0;
}

#article-subitems ul#list_items {
margin: 0px;
padding: 0px;
list-style: none;
}

.file-manager-small ul#list_items img {
border: 0px;
}

.file-manager-small ul#list_items li {
	position: relative;
	margin: 2px;
	display: block;
	border: 1px solid #dfdfdf;
}
.file-manager-small ul#list_items li div span {
display: none;
}
.file-manager-small div.button {
	display: block;
	background: url("../images/move.png") no-repeat;
	background-position: 0px 3px;
	height: 25px;
	width: 20px;
	cursor: move;
	float: left;
	opacity: 0.5;
}
.file-manager-small div:hover.button {
opacity: 1.0;
}

div.file-manager-button a div {
	position: absolute;
	left: 43px;
	top: 3px;
}

div.file-manager-title {
font-size: 15px;
text-align: center;
background: #dfdfdf;
font-weight: bold;
color: black;
}

#article-subitems {
border: 1px solid black;
}

#article-controls ul {
margin: 0px;
padding: 0px;
}

#article-controls li {
list-style: none;
display: block;
position: relative;
}

div.file-manager-controls span {
display: block;
float: right;
padding-left: 18px;
margin-right: 3px;
background-repeat: no-repeat;
}

#article-subitems-hide {
background: none;
}

#article-contents h2.subtitle img {
float: right;
}
