.controller-cms .article__body_editor {
opacity: 1.0;
}

#article-subitems ul#list_items {
margin: 0px;
padding: 0px;
list-style: none;
border: 1px solid black;
}

.file-manager-small ul#list_items li {
	position: relative;
	margin: 2px;
	display: block;
	border: 1px solid red;
}
.file-manager-small ul#list_items li div span {
	display: block;
	height: 25px;
	width: 25px;
	border: 1px solid green;
	cursor: move;
	float: left;
}
div.file-manager-button a div {
	position: absolute;
	left: 60px;
	top: 5px;
}


/*

<div id='article-subitems'>
  <div class='file-manager-title'>Articles</div>
   <div class='file-manager-small'>
 <ul id='list_items'>
  <li id="item_1">
    <div class="button move"><span>Move</span></div>
      <div class="file-manager-button">
       <a href="/toca/cms/view/1">
        <img alt="Quem Somos" src="text-html.png" />
	<div>Quem Somos</div>
       </a>
       </div>
   </li>

html > body .controller-cms action-index > div #warp > div #frame > div #content > div #boxes .design_boxes > div > div #design_box_1 .design_box > div #design_blocks_3 .design_blocks > div #design_block_2 .design_block > div .design_block_type main_block > div #design_block_content_2 .design_block_content > div > div #article-subitems > div .file-manager-small > ul #list_items
*/
