#content {
position: relative;
margin: 0px;
padding: 10px;
}

#content h1 {
color: #c4a000;
margin: 8px;
padding: 0px;
text-align: center;
}

#content a {
text-decoration: none;
color: #c4a000;
}

#content a:visited {
color: #a4a000;
}

#content a:active {
text-decoration: none;
color: #000000;
}
#content a:hover {
color: #545454;
}

#content a.detach {
color: red;
}


