.financialforecasting {
  font-size: 10px;
}

.financialforecasting table {
  width: 100%;
  margin: 0px;
  border: none;
  border-collapse: collapse;
}

.financialforecasting .line_odd td {
  background-color: #FCFAF0;
}
.financialforecasting .line_pair:hover td,
.financialforecasting .line_odd:hover td {
  background-color: #F8F0A0;
}

.financialforecasting th, .financialforecasting td {
  border-left: 1px dotted #CA8;
  text-align: center;
  line-height: 14px;
}

.financialforecasting .frist_col {
  border: none;
}

.financialforecasting .category_name {
  line-height: 12px;
}

.financialforecasting .month_header {
  border-bottom: 1px dotted #CA8;
}

.financialforecasting .month_header div {
  position: relative;
}

.financialforecasting .table_footer {
  border-top: 1px dotted #CA8;
}
.financialforecasting .table_footer th.balance {
  border-left: none;
}

.financialforecasting .month_1, .financialforecasting .month_3 {
  display: block;
  position: absolute;
  top: 0px;
  left: 3px;
  font-weight: normal;
}
.financialforecasting .month_3 {
  left: inherit;
  right: 3px;
}
