#info_form {
  display: block;
  margin: 10px;
  padding: 5px 0px 0px 0px;
  list-style: none;
  width: 60%;
  text-align: right;
}

#info_form label {
  color: black;
  font-weight: bold;
}

#info_form input {
border: 1px solid #545454;
}

input.button {
cursor: pointer;
border: 0px;
}

#info_form div {
  display: inline;
  padding: 0px 4px;
}

.info_field {
  margin: 5px;
  padding: 5px;
  float: right;
  opacity: 0.6;
}

div:hover.info_field {
  opacity: 1.0;
}

.display_info_options {
float: right;
}
