
#menu {
position: absolute;
right: 3px;
margin-top: 108px;
z-index: 999;
}

#menu .button{
  float: none;
}

#menu ul {
position: relative;
background: url('../images/bgmenu.png') bottom right no-repeat;
list-style: none;
width: 769px;
margin: -2px 0px 0px 0px;
padding: 0px;
padding-left: 10px;
padding-bottom: 15px;
}

#menu li {
width: 250px;
margin: 3px;
list-style: none;
}

#menu a {
display: block;
background-position: top left;
background-repeat: no-repeat;
padding: 10px 0px 0px 50px;
max-height: 37px;
height: 47px;
font-size: 18px;
color: #545454;
text-decoration: none;
}

#menu a:hover {
color: #000000;
text-decoration: underline;
}

/* Positions */

#menu li a.pos_1 {
margin-left: 10px;
}

#menu li a.pos_2 {
position: absolute;
top: 1px;
margin-left: 265px;
}

#menu li a.pos_3 {
position: absolute;
top: 1px;
margin-left: 520px;
}

#menu li a.pos_4 {
margin-left: 10px;
}

#menu li a.pos_5 {
position: absolute;
top: 50px;
margin-left: 265px;
}

#menu li a.pos_6 {
position: absolute;
top: 50px;
margin-left: 520px;
}

#menu li a.pos_7 {
margin-left: 10px;
}

#menu li a.pos_8 {
position: absolute;
top: 100px;
margin-left: 265px;
}

#menu li a.pos_9 {
position: absolute;
top: 100px;
margin-left: 520px;
}

#menu li a.pos_10 {
margin-left: 10px;
}

#menu li a.pos_11 {
position: absolute;
top: 150px;
margin-left: 265px;
}

#menu li a.pos_12 {
position: absolute;
top: 150px;
margin-left: 520px;
}

#menu li a.pos_13 {
margin-left: 10px;
}

#menu li a.pos_14 {
position: absolute;
top: 200px;
margin-left: 265px;
}

#menu li a.pos_15 {
position: absolute;
top: 200px;
margin-left: 520px;
}

#menu li a.pos_16 {
margin-left: 10px;
}

#menu li a.pos_17 {
position: absolute;
top: 250px;
margin-left: 265px;
}
