#design_box_2 a.show_itembar {
background: url('../images/itembar_down.png') bottom right no-repeat;
display: table-cell;
text-decoration: none !important;
vertical-align: middle;
text-align: center !important;
border-bottom: 1px solid #c4a000;
width: 200px;
height: 31px;
margin: 0px;
padding: 0px;
color: #545454 !important;
font-size: 18px;
}

#design_box_2 a:hover.show_itembar, #design_box_2 a:hover.hide_itembar {
color: #c4a000 !important;
}
#design_box_2 a.hide_itembar {
display: table-cell;
position: absolute;
right: 6px;
bottom: 3px;
background: url('../images/itembar_up.png') bottom right no-repeat;
text-decoration: none !important;
vertical-align: middle;
text-align: right !important;
height: 15px;
padding-right: 20px;
margin: 0px;
color: #545454 !important;
font-size: 10px;
}
#design_box_2 .itembar {
position: relative;
background: url('../images/bgtransparent_300px.png') top left repeat-x;
margin: 0px;
padding: 10px;
border-right: 1px solid #c4a000;
border-bottom: 1px solid #c4a000;
border-left: 1px solid #c4a000;
}

#design_box_2 .itembar p {
text-align: left;
padding: 5px;
margin: 10px 0px 10px 0px;
}
#design_box_2 .itembar label {
  color: black;
  font-weight: bold;
  display: block;
}

#design_box_2 .button_bar {
  text-align: center;
}

#design_box_2 .button_bar input{
  border: 1px solid #c4a000;
  background-color: #f4edcf;
  color: #918247;
}
#design_box_2 .button_bar a {
  border: 1px solid #c4a000;
  background-color: #f4edcf;
  color: #918247;
  padding: 1px 12px 2px 12px;
}

#design_box_2 textarea{
  width: 240px;
  height: 140px;
}

#design_box_2 {
float: right;
width: 200px;
padding: 0px;

}

