/* Autor: Valessio S Brito <valessio@colivre.coop.br>  */

@import url("autocomplete.css");
@import url("content.css");
@import url("form.css");
@import url("login.css");
@import url("userbar.css");
@import url("box.css");
@import url("listing.css");
@import url("menu.css");
@import url("menu_content.css");
@import url("table.css");
@import url("button.css");
@import url("footer.css");
@import url("localist.css");
@import url("sidebar.css");
@import url("tabs.css");
@import url("tag_list.css");
@import url("spinner.css");

body {
  margin:0px;
  padding:0px;
  color: #545454;
  font: 14px/1.5em Verdana, Arial, sans-Serif;
  background: #fffaf0 url('../images/bgbody.png') top right repeat-y;
}

#header {
  margin:0px;
  padding:0px;
  height: 110px;
  background: #ffffff url('../images/bgheader.png') bottom left repeat-x;
}

#info_org {
  font-size: 17px;
  color: #C4A000;
  height: 78px;
  display:table-cell;
  vertical-align: middle;
}

#info_org span {
  font-size: 19px;
  font-weight: bold;
}

#logo_org {
  float: left;
  margin-left: 5px;
  width: 75px;
  height: 75px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
#logo_org span {
  display: none;
}

#banner_top {
  position: absolute;
  top: 2px;
  right: 5px;
  background: url('../images/bannerabelo_213x66.png') 50% no-repeat;
  width: 213px;
  height: 75px;
}
#banner_top span {
  display: none;
}

#footer {
  margin-top: 50px;
  padding-left: 60px;
  bottom: 0;
  height: 50px;
}

.clear{
  clear: both;
}

.product_color{
  width: 140px;
  height: 22px;
}

.error{
  position: absolute;
  border: 2px solid red;
  background-color: white;
  width: 300px;
  padding: 40px;
  left: 50%;
  margin-left: -150px;
}

.subtitle{
  clear:both;
}

#image_list div {
  float: left;
  margin: 0px 5px 20px 0px;
}
#image_list img {
  border: 1px solid #642;
  padding: 3px;
}


/* Box and block css */

/* Main Content */
#design_box_1 {
  margin-right: 220px;
#  float: left;
}

#design_box_2 {
#  float: left;
}

#design_boxes_footer{
  clear: both;
}

/* Edition Mode */

#design_editor .design_blocks {
  list-style: none;
  margin: 0px;
  padding: 3px;
}

#design_editor .design_box {
  border: 2px solid transparent;
}

#design_editor .hover {
  border: 2px dotted red;
  background: #ff6;
}

#design_editor_toolbar {
  padding: 5px;
}

#design_editor .design_blocks {
  border: 2px dotted green;
}

#design_editor .design_blocks .hover {
  border: 2px dotted red;
  background: blue;
}

#design_editor_toolbar h3 {
  font-size: 10px;
  background: #dfdfdf;
  margin: 0px;
  padding: 1px;
  text-align: right;
  color: #545454;
}

#design_editor_toolbar a {
  font-size: 10px;
  padding: 5px;
  background: #dfdfdf;
  color: black;
}

#beta_info {
  background: url('../images/beta.png');
  width: 80px;
  height: 58px;
  position: absolute;
  top: -20px;
  right: 10px;
}
#beta_info span {
  display: none;
}

.main_title b {
  font-size: 120%;
  letter-spacing: -2px;
  color: #E80;
}


