        <li>
          <%= @field.class.describe(@field.field) %>
          <%= t(:display_in_list?_%s) % @field.display_in_list %>
          <%= t(:break_line?_%s) % @field.break_line %>
          <%= t(:display_title?_%s) % @field.display_title %>
        </li>

