        <li>
          <%= @field.class.describe(@field.field) %>
          <%= _('Display in list? %s') % @field.display_in_list %>
          <%= _('Break Line? %s') % @field.break_line %>
          <%= _('Display Title? %s') % @field.display_title %>
        </li>

