<h1><%= @worker.name %></h1>
<p>
<label><%= t(:birthday:) %></label>
<%= @worker.birthday %>
</p>

<p>
<label><%= t(:address:) %></label>
<%= @worker.address %>
</p>

<p>
<label><%= t(:cpf:) %></label>
<%= @worker.cpf %>
</p>

<p>
<label><%= t(:rg:) %></label>
<%= @worker.rg %>
</p>

<p>
<label><%= t(:function:) %></label>
<%= @worker.function %>
</p>

<p>
<label><%= t(:description:) %></label>
<%= @worker.description %>
</p>
