<%= render :partial => 'menu' %>

<%=  title _('Document Model')%>

<label for='document_models' ><%= _('Choose Document Model') %>:</label>

<ul>
  <% for document in @document_models  %>
    <li><%= link_to document.name, {:action => 'new_document', :model_id => document.id, :actor => params[:actor], :id => params[:id]} %></li>
  <% end %>
  <li><%= link_to _('Blank Document'), {:action => 'new_document', :actor => params[:actor], :id => params[:id]} %></li>
</ul>
