
<%= render :partial => 'menu' %>

<%= title( _('Editing %s %s') % [@document.name, @system_actor.name] ) %>

<%= render :partial => 'shared_document/document_edit', :locals => { :parameters => {:actor => @actor} } %>

