<%= title(t(:editing_%s) % SystemActor.describe(@actor)) %>

<% form_tag :action => 'update', :id => @system_actor do %>
  <%= render :partial => 'form' %>
  <%= display_edit_info_options(@system_actor, :actor => @actor) %>
<% end %>
