<%= render :partial => 'menu' %>

<%= title t(:%s_products) % @system_actor.name %>

<table>
  <tr> 
    <th> <%= t(:product) %> </th>
    <% if @system_actor.kind_of?(Customer) %>
      <th> <%= t(:sale_quantity) %> </th>
    <% else %>
      <th> <%= t(:purchased_quantity) %> </th>
    <% end %>
  </tr>
  <% @product_virtuals.each do |stock| %>
    <tr> 
      <td> <%= stock.product_in_list.name %> </td>
      <td> <%= stock.amount_in_list.inspect %> </td>
    </tr>
  <% end %>
</table>

