
<%= title (_('Listing %s') % SystemActor.describe(@actor).downcase) %>

<%= display_list_options 'system_actor', 'name', :actor => @actor %>

<%= display_collection @system_actors, {:actor => @actor} %>

<%= pagination_links(@system_actor_pages, :params => {:actor => @actor}) %>
