
<%= title (t(:listing_name , :name => SystemActor.describe(@actor).downcase)) %>

<%= display_list_options 'system_actor', 'name', :actor => @actor %>

<%= display_collection @system_actors, {:actor => @actor} %>

<%= will_paginate @system_actors, :params => {:actor => @actor} %>
