<%= title t(:new_system_actor, :name => SystemActor.describe(@actor)) %>

<% form_tag :action => 'create' do %>
  <%= render :partial => 'form' %>
  <%= display_new_info_options @system_actor %>
<% end %>
