<%= title _('Listing Ledgers') %>

<% unless @ledger_sales.empty? %> 

  <h2> <%= _('Ledgers') %>  </h2>

  <div id="financial_table">
    <%= render :partial => 'display_ledgers_table' %>
  </div>

<% end %>

