
<%= render :partial => 'menu' %>

<%= title t(:%s_%s) % [@system_actor.name, @document.name] %>

<%= render :partial => 'shared_document/document_show', :locals => { :parameters => {:actor => @actor} } %>
