<%= beta_info %>
<% form_tag :action => 'create' do %>

  <%=  render :partial => 'form' %>

  <%= button('save', _('Save'), :save,  (@article.parent ? { :action => 'view', :id => @article.parent.id } : { :action => 'index' } )) %>

<% end %>
