#menu {
  position: absolute;
  width: 530px;
  height: 360px;
  background: url('../images/bgmenu.png') top left no-repeat;
  z-index: 999;
}

#menu ul {
  width: 530px;
  height: 360px;
  margin: 0px;
  padding: 0px;
}

/*
#menu li {
width: 250px;
margin: 3px;
list-style: none;
}

#menu a {
display: block;
background-position: top left;
background-repeat: no-repeat;
padding: 10px 0px 0px 50px;
max-height: 37px;
height: 47px;
font-size: 18px;
color: #545454;
text-decoration: none;
}

#menu a:hover {
color: #000000;
text-decoration: underline;
}

*/

#menu a {
display: block;
list-style: none;
text-decoration: none;
width: 48px;
height: 48px;
border: 0px;
margin: 0px;
padding: 0px;
}

#menu a span {
display: none;
}

#menu a:hover {
z-index: 999;
}

#menu a:hover span {
position: absolute;
display:table-cell;
background: url('../images/fundo_teste.png') bottom right no-repeat;
width: 167px;
height: 47px;
padding-left: 25px;
padding-right: 10px;
text-align: right;
vertical-align: text-bottom;
color: #545454;
font-size: 18px;
z-index: 998;
}


/* Positions */

#menu li a.pos_1 {
position: absolute;
top: 75px;
left: 28px;
}

#menu li a.pos_2 {
position: absolute;
top: 35px;
left: 96px;
}

#menu li a.pos_3 {
position: absolute;
top: 115px;
left: 96px;
}

#menu li a.pos_4 {
position: absolute;
top: 75px;
left: 159px;
}

#menu li a.pos_5 {
position: absolute;
top: 35px;
left: 225px;
}

#menu li a.pos_6 {
position: absolute;
top: 190px;
left: 96px;
}

#menu li a.pos_7 {
position: absolute;
top: 150px;
left: 159px;
}

#menu li a.pos_8 {
position: absolute;
top: 115px;
left: 225px;
}

#menu li a.pos_9 {
position: absolute;
top: 75px;
left: 290px;
}

#menu li a.pos_10 {
position: absolute;
top: 225px;
left: 159px;
}

#menu li a.pos_11 {
position: absolute;
top: 265px;
left: 96px;
}

#menu li a.pos_12 {
position: absolute;
top: 195px;
left: 225px;
}

#menu li a.pos_13 {
position: absolute;
top: 150px;
left: 290px;
}

#menu li a.pos_14 {
position: absolute;
top: 35px;
left: 355px;
}

#menu li a.pos_15 {
position: absolute;
top: 115px;
left: 355px;
}

#menu li a.pos_16 {
position: absolute;
top: 265px;
left: 225px;
}

#menu li a.pos_17 {
position: absolute;
top: 225px;
left: 290px;

}
