<div id="abelo_cash_form">

  <%= error_messages_for 'cash' %>

  <p><label name="cash_value"> <%= t(:value) %> </label>
    <%= text_field('cash', 'value') %>
  </p>

  <p><label name="cash_description"> <%= t(:description) %> </label>
    <%= text_field('cash', 'description') %>
  </p>

</div>
  <%= button 'save', t(:save), :save, {}, {:class => 'button'} %>

