  <%= error_messages_for 'till' %>

  <p><label name="cash_value"> <%= t(:value) %> </label>
    <%= text_field('cash', 'value') %>
  </p>
  <%= button 'cancel', t(:cancel), :cancel, :action => 'index' %>
  <%= button 'save', t(:save), :save %>

