<div id="abelo_login_form">
  <%= notice_box flash[:notice] %>

  <p><label for="login"> <%= _("Supervisor") %> </label><br />
    <span><%= text_field 'user', 'login' %></span>
  </p>
  <p><label for="password"><%= _("Password") %> </label><br />
    <span><%= password_field 'user', 'password' %></span>
  </p>
</div>

<%= button 'password', _('Cancel Sale'), :save, {}, {:class => 'button button_login with_text'} %>

