<label name="sale_customer"> <%= _('Customer') %>: </label>
<span class="field">
  <%= display_autocomplete 'sale', 'customer_identifier' %>
</span><!-- fim class="field" -->

<%= hidden_field 'sale', 'customer_id' %>

<%=   
  observe_field('sale_customer_identifier',
        :url => {:action => 'save_customer'},
        :with => "'customer_cpf=' + escape(value)",
        :failure => "$('abelo_action').innerHTML= request.responseText"
  )   
%>  
