<label name="sale_customer"> <%= _('Customer') %>: </label>
<span class="field">
  <%= display_autocomplete 'sale', 'customer_identifier' %>
</span><!-- fim class="field" -->

<%= hidden_field 'sale', 'customer_id' %>

<div id="bli"> 
fudeu
</div>
 
<%=   
  observe_field('sale_customer_identifier',
        :update => 'bli',
        :url => {:action => 'save_customer'},
        :with => "'customer_cpf=' + escape(value)",
        :on => 'onblur'
  )   
%>  
