
<div id='abelo_table_items'>
  <%= render :partial => 'table' %>
</div>

<div id="sale_details">

  <%= error_messages_for 'sale_item' %>

  <div id="abelo_add_item_panel">
    <%= render :partial => 'product_info' %>
  </div><!-- add_item_panel -->

</div><!-- sale_details -->

