
<%= notice_box flash[:command_error] %>

<div id='abelo_table_items'>
  <%= render :partial => 'table' %>
</div>

<div id="sale_details">
  <div id="abelo_add_item_panel">
    <%= error_messages_for 'sale_item' %>
    <%= render :partial => 'product_info' %>
  </div><!-- add_item_panel -->
</div><!-- sale_details -->

