
<%= render :partial => 'table' %>

<div id="sale_details">

  <%= error_messages_for 'sale' %>

  <div id="add_item_panel">
    <%= render :partial => 'product_info' %>
  </div><!-- add_item_panel -->
</div><!-- sale_details -->

