
<%= title _('Coupon Cancel') %>

<%= render :partial => 'table' %>

<div id="sale_details">
  <%= error_messages_for 'sale' %>
  <% form_tag :action => 'create_coupon_cancel', :id => @sale do %>
    <%= render :partial => 'login_form' %>
  <% end %>
</div>
