<%= title _("Till") %>

  <div id="new_sale">
    <%= link_to content_tag(:span, _('Open Till')), { :action => 'create_till_open' }, { :method => 'post' } %>
  </div>

Testando:

<%= link_to 'Test Printer', :action => 'test_printer' %>

<%= link_to_remote "remote acton", :url => {:action => 'test_ajax_request'}, :complete => "alert('comecou')", :failure => "alert('fudeu')" %>

<div id="here">
</div>
