<%= title t(:open_till) %>

<%= notice_box flash[:notice] %>

<div id="abelo_open_till">
  <% form_tag :action => 'create_till_open' do %>
    <%= render :partial => 'point_of_sale/form_open_till' %>
 <% end %>

</div>


