<%= title _("Open Till") %>

<%= notice_box flash[:notice] %>

<% form_remote_tag :url => {:action => 'create_till_open'}, :failure => "$('abelo_action').innerHTML = request.responseText" do %>

  <div id="abelo_open_till">
    <%= render :partial => 'form_open_till' %>
  </div>
  <%= button 'cancel', _('Cancel'), :cancel, :action => 'index' %>
  <%= button 'save', _('Save'), :save %>
<% end %>

