  <%= subtitle t(:search_customer) %>

<% form_remote_tag :url => params.merge({ :action => 'search_customer'}), :update => 'customer_search' do %>
  <%= text_field_tag('search') %>
  <%= submit_tag t(:search) %>
<% end %> 

<div id='customer_search'>
</div>

<%= lightbox_close_button(t(:cancel)) %>

