<%= title _("Remove Cash") %>

<% form_remote_tag  :url => {:action => 'create_remove_cash'}, :failure => "$('abelo_action').innerHTML= request.responseText" do %>

  <%= render :partial => 'cash_form' %>

  <%= button 'save', _('Save'), :save, {}, {:class => 'button'} %>

<% end %>
