<% for column in CashFlow.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @cash_flow.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @cash_flow %> |
<%= link_to 'Back', :action => 'list' %>
