<%= error_messages_for 'bank' %>

<!--[form:bank]-->
<p><label for="bank_name">Name</label><br/>
<%= text_field 'bank', 'name'  %></p>

<p><label for="bank_code">Code</label><br/>
<%= text_field 'bank', 'code'  %></p>
<!--[eoform:bank]-->

