<% for column in Bank.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @bank.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @bank %> |
<%= link_to 'Back', :action => 'list' %>
