<!--
/* <![CDATA[ */	
/*
<rdf:RDF xmlns="http://web.resource.org/cc/"
    xmlns:dc="http://purl.org/dc/elements/1.1/"
    xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
<Work rdf:about="">
   <license rdf:resource="http://creativecommons.org/licenses/by/1.0/" />
</Work>

<License rdf:about="http://creativecommons.org/licenses/by/1.0/">
   <permits rdf:resource="http://web.resource.org/cc/Reproduction" />
   <permits rdf:resource="http://web.resource.org/cc/Distribution" />
   <requires rdf:resource="http://web.resource.org/cc/Notice" />
   <requires rdf:resource="http://web.resource.org/cc/Attribution" />
   <permits rdf:resource="http://web.resource.org/cc/DerivativeWorks" />
</License>

</rdf:RDF>

*/
/* Autor: Valessio S Brito <valessio@colivre.coop.br>  */

body {
  margin:0px;
  padding:0px;
  font: 14px/1.5em Verdana, Arial, sans-Serif;
  background: url('../images/bgbody.png') top left repeat-x;
}

#banner_header {
 background: url('../images/bannerabelo.png') top center no-repeat;
 height: 125px;
}

#login_box {	
  position:relative;
  width:180px;
  margin:10px 0px 0px -90px;
  left: 50%;
  padding: 0px;
  overflow: none;
  z-index: 1;
}

#login {
width: 180px;
text-align: left;
font: 18px Verdana, Arial, sans-Serif;
color: #2e3436;
}

div.button_bar {
text-align: center;
}

input#password , input#login, input#user_login, input#user_email, input#user_password, input#user_password_confirmation {
background: url('../images/bginput.png') no-repeat;
border: 0px;
padding: 12px;
width: 156px;
height: 26px;
font:bold 18px Verdana, Arial, sans-Serif;
text-align: center;
}

input#user_email {
font: 13px Verdana, Arial, sans-Serif;
}

.beault_button {
  height: 40px;
  border: 1px solid #0b0;
  background: url('/images/bgbutton.png') no-repeat;
}

input.button_login, input.button_save {
border: 0px;
width: 146px;
height: 40px;
font: 15px Verdana, Arial, sans-Serif;
text-align: center;
}

a.button_new, a.button_cancel {
font: 13px Verdana, Arial, sans-Serif;
text-decoration: none;
border-bottom: 1px dotted #545454;
color: #545454;
}

#footer {
margin-top: 20px;
padding-left: 60px;
background: url('../images/colivre.png') 20px no-repeat;
bottom: 0;
height: 50px;
font: 11px Verdana, Arial, sans-Serif;
color: #eeeeee;
text-align: center;
}

#footer a {
color: #eeeeee;
}

#footer a:hover {
color: #545454;
}

#errorExplanation {
  position:relative;
  width:400px;
  margin:0px 0px 0px -200px;
  left: 50%;
  border: 2px solid red;
  padding-top: 7px;
  padding-left: 7px;
  padding-right: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin-top: -7px;
  margin-left: -7px;
  margin-right: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

-->
