/* Autor: Valessio S Brito <valessio@colivre.coop.br>  */

@import url("/designs/templates/default/stylesheets/button.css");

html {
  height: 100%;
  margin: 0px;
  padding: 0px;
  background: #FFFAF0 url("/designs/templates/default/images/bgbody.png") repeat-y;
  background-position: right 3px;
}

body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  background: url("/designs/templates/default/images/bgcumpom.png") repeat-y;
  background-position: 10px 0px;
}

.action-index body {
  background: none;
}

a {
  text-decoration: none;
}

#user_bar {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 5px 10px 16px 10px;
}

#org_bar {
  top: 0px;
  left: 0px;
  padding: 3px 10px 20px 10px;
  min-width: 300px;
  background: #FFFAF0;
  position: absolute;
}

#notice {
  position:absolute;
  top: -25px;
  background: url('/designs/templates/default/images/bgcenterbox.png') no-repeat bottom center;
  margin: 0px 0px 0px -145px;
  left: 50%;
  text-align: center;
  overflow: none;
  z-index: 50;
}
#notice div {
  width:260px;
  padding: 50px 35px 30px 35px;
}


#login_bar {
  float: right;
  font-size: 10px;
  position: relative;
  z-index: 20;
}
#login_bar a {
  margin-top: -1px;
  margin-right: 8px;
}

#org_link {
  float: left;
}
#org_link a {
  color: #A86;
}

#salesman {
  float: left;
  margin-left: 20px;
  color: #D0B8A0;
}
#salesman i {
  color: #A75;
}

h1.main_title {
  text-align: center;
  height: 60px;
  max-height:46px;
  padding: 7px 0px;
  font-size: 40px;
  color: #FFF;
  background: url("/designs/templates/default/images/fundo-status.png") 13px 0px;
  margin: 0px;
  z-index: 10;
}

#content {
  position: absolute;
  top: 25px;
  width: 100%;
  height: 100%;
}

#pending_sale, #new_sale{
  border: 8px solid black;
  -moz-border-radius: 30px;
  text-align: center;
  margin: 100px 30%;
  font-weight: 800;
  font-size: 20px;
}
#pending_sale{
  border-color: #FFE8E8;
  background: #F8C8C8;
}
#new_sale{
  border-color: #F8F4B0;
  background: #F8E890;
  font-size: 30px;
}
#pending_sale a, #new_sale a{
  display: block;
  padding: 20px 0px;
  color: #C80;
}
#pending_sale a{
  color: #A00;
}

#cumpom_bar {
  position: absolute;
  margin: 0px;
  right: 10px;
  padding-right: 2px;
  display: inline;
  list-style: none;
}

#cumpom_bar span {
  font-weight: bold;
  font-size: 12px;
  color: #642;
  display: table-cell;
  height: 47px;
  vertical-align: middle;
  padding-left: 48px;
}

#payment {
  float: left;
  display: block;
  background: url('/designs/templates/default/images/icon_sangria.png') top left no-repeat;
  height: 47px;
  margin-left: 10px;
}
#payment:hover {
  background: url('/designs/templates/default/images/icon_sangria.png') bottom left no-repeat;
}

#cancel_sale {
  float: left;
  display: block;
  background: url('/designs/templates/default/images/icon_sangria.png') top left no-repeat;
  height: 47px;
  margin-left: 10px;
}
#cancel_sale:hover {
  background: url('/designs/templates/default/images/icon_sangria.png') bottom left no-repeat;
}

#add_cash {
  float: left;
  display: block;
  background: url('/designs/templates/default/images/icon_reforco.png') top no-repeat !important;
  height: 47px;
  margin-left: 10px;
}
#add_cash:hover {
  background: url('/designs/templates/default/images/icon_reforco.png') bottom no-repeat !important;
}

#remove_cash {
  float: left;
  display: block;
  background: url('/designs/templates/default/images/icon_sangria.png') top no-repeat !important;
  height: 47px;
  margin-left: 10px;
}
#remove_cash:hover {
  background: url('/designs/templates/default/images/icon_sangria.png') bottom no-repeat !important;
}

#cumpom_sales {
  height: 100%;
  margin-left: 18px;
  width: 285px;
  float: left;
  overflow: auto;
}

#items_table table {
  width: 256px;
}

#cumpom_sales td, #cumpom_sales tr, #cumpom_sales th {
  border: 0px;
  margin: 0px;
  padding: 2px;
  font-size: 10px;
  color: black;
  background: transparent;
}

th.cell_amount div,
th.cell_un_price div,
th.cell_price div {
  width: 40px;
  overflow: hidden;
  position: relative;
}
th.cell_amount div div,
th.cell_un_price div div,
th.cell_price div div{
  height: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
  background: url('/designs/templates/default/images/esconde-nome.png') top right repeat-y;
}
th.cell_desc {
  text-align: left;
}
th.cell_desc div div {
  display: none;
}
td.cell_amount,
td.cell_un_price,
td.cell_price {
  width: 40px;
  text-align: right;
}
#cumpom_sales td.cell_tot {
  text-align: right;
  font-weight: 800;
  font-size: 20px;
}

#sale_details {
  margin: 50px 10px 0px 315px;
}

#product_identification {
  -moz-border-radius: 40px;
  display: block;
  height: 45px;
  font-size: 35px;
  background: #FFF4B8;
  overflow: hidden;
  text-align: center;
}



#banner_bottom {
  background: url('/designs/templates/default/images/bannerabelo_100x33.png') no-repeat;
  width: 100px;
  height: 33px;
  position: absolute;
  right: 5px;
  bottom: 0px;
}
#banner_bottom span {
  display: none;
}


#add_item_panel {
  position: relative;
  text-align: left;
}

#add_item_panel h1 {
  color: #204A87;
  font-size: 20px;
  margin: 0px;
}

#add_item_panel input {
  background: #cfdbe5;
  color: #204a87;
  border: 1px solid transparent;
}

#add_item_panel input:focus, #add_item_panel input:hover {
  background: #e7ebeb;
  color: #545454;
  border: 1px solid #545454;
}


#search_product a {
  float: right;
  clear: right;
  display: block;
  margin: 10px 10px 0px 0px;
  background: url('/designs/templates/default/images/icon_search_product.png') bottom no-repeat;
  width: 41px;
  height: 41px;
}

#search_product a:hover, #search_product a:focus {
  background: url('/designs/templates/default/images/icon_search_product.png') top no-repeat !important;
}

#search_product span {
  display: none;
}


#button_add_product {
  display: block;
  margin: 5px 10px 0px 0px;
  width: 41px;
  height: 41px;
  float: right;
  clear: right;
  border: none !important;
  background: url('/designs/templates/default/images/icon_add_product.png') bottom no-repeat !important;
  margin: 10px;
}

#button_add_product:hover, #button_add_product:focus {
  background: url('/designs/templates/default/images/icon_add_product.png') top no-repeat !important;
}

#code_product {
  margin: 5px 60px 5px 0px;
}

input#product_code {
  font-weight: bold;
  font-size: 30px;
  width: 99%;
  text-align: right;
}

#insert_amount {
  margin-right: 60px;
  background: url('/designs/templates/default/images/x.png') center 25px no-repeat;
}

#insert_amount h1 {
  text-align: left;
  font-size: 20px;
  margin: 0px;
}

#result_amount {
  float: left;
  width: 55%;
  font-weight: bold;
  font-size: 20px;
  text-align: left;
}

input#amount {
  font-weight: bold;
  font-size: 30px;
  width: 44%;
  text-align: right;
}

#value_product {
  font-size: 30px;
}



#pointsales_bar ul {
  margin: 0px 0px 0px 330px;
  padding: 0px;
  position: absolute;
  bottom: 0px;
}

#pointsales_bar li {
  float: left;
  margin: 0px;
  padding: 0px;
  list-style: none;
  position: relative;
}

#pointsales_bar span {
  display: none;
}



#money_in_change {
  margin-top: 10px;
}

#money_in{
  float: left;
  width: 50%;
}
#money_in h1, #money_in label {
  text-align: left;
  font-size: 20px;
  color: #4e9a06 !important;
}
#money_in label {
  float: left;
  padding-right: 5px;
}
input#money_in {
  font-weight: bold;
  font-size: 30px;
  width: 80%;
  color: green !important;
  background: #d8f3b1 !important;
  text-align: right;
}
  
#change_money {
  font-weight: bold;
  font-size: 30px;
  margin-left: 50%;
  color: green !important;
  text-align: left;
}


#show_access_keys {
  position: absolute;
  top: 1px;
  right: 100px;
}

