div.sale_details {
  margin-left: 20%;
  margin-right: 20%;
}

div.sale_details div {
  display: table-cell;
  padding: 1em;
}

div.add_item_panel h2 {
  font-size: 32px;
}
div.add_item_panel h3 {
  font-size: 24px;
}
div.add_item_panel input {
  font-size: 24px;
}
