body { 
	font-family: arial, verdana, helvetica, sans-serif;
	font-size: 13px;
	margin:0;
}

#page {
}

#usermenu {
	clear:both;
	font-size: 12px;
	padding: 0 10px 2px 0px;
	background-color: #F0F0F0;
	text-align: right;
}

/* HEADER CONF */
#header {
	clear:both;
}

table {
	border:0;
}

#header td {
	padding-left:5px;
}

#menu {
	float:right;
}


/* CONTEXT */
#context {
	_width:99.2%;
	padding: 0px 5px 0px 5px;
}

#pagefooter {
	display:block;
	clear:both;
	border-top: 1px #808080 solid;	
	font-family: arial, verdana, helvetica, sans-serif;
	font-size: 11px;
	text-align: center;
}

.sidebar {
	float: left;
	width:230px;
	margin-bottom: 3em;
}

.sidebar div {
	padding: 2px 2px 2px 2px;
	_padding: 0px 2px 2px 2px;
}

.inner_context {	
	margin-left: 240px;
	_margin-left: 5px;
	_float: right;
	padding: 4px 4px 4px 4px;
}

div.navigation {
	display:block;
	padding: 0px 4px 0px 4px;
	min-height:1em; 
}
	
.blue {
	background-color: #C3D9FF;
}

.ligth_blue {
	background-color: #E0ECFF;
}

.ligth_gray {
	background-color: #E8EEF7;
}

.gray {
	background-color: #DDE3EB;
}

.green {
	background-color: #74DD82;
}

.branco {
	background-color: #ffffff;
}


.rosa {
	background-color: #FFE4E4;
}

.ligth_green {
	background-color: #B5EDBC;
}

.tablelist {
	border-collapse:collapse;
	table-layout:fixed; 
	margin-bottom: 10px;
	margin-top: 5px;
}

.tablelist thead th, .tablelist tbody tr td {
	padding-left: 5px;
	padding-right: 5px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.tablelist tbody tr td {
	border-bottom: solid 1px #BBBBBB;
}

.tablesidebar {
	border-collapse:collapse;
	table-layout:fixed; 
	font-size:11px;
}

.tablesidebar tbody tr td {
	text-overflow:ellipsis;
	overflow: hidden;
	border: solid 1px #E8EEF7;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/*
a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }
*/

.fieldWithErrors {
  background-color: red;
}

.formError {
  font-size:10px;
  color: red;		
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

div.uploadStatus {
  margin: 5px;
}

div.progressBar {
  margin: 5px;
}

div.progressBar div.border {
  background-color: #fff;
  border: 1px solid #808080;
  width: 100%;
}

div.progressBar div.background {
  background-color: #333;
  height: 18px;
  width: 0%;
}

