
<%= title _('Edit Invoice') %>

<% form_tag( :action => 'update', :id => @invoice )  do %>


  <%= render :partial => 'form'%>

  <%= display_new_info_options @invoice %>

<% end %>

<div id="abelo_invoice_items">
  <h2> <%= subtitle _('Invoice Items:') %> </h2>
  <%= render :partial => 'invoice_new_items' %>
</div>

<%= subtitle _("Invoice Payments: ") %>

<div id="abelo_payment">
  <%= render :partial => 'new_payment'%>
</div>
