
<p><label for="login"><%= _('Login') %> </label>
<span><%= text_field :user, :login %></span>
</p>

<p><label for="email"><%= _('Email') %> </label>
<span><%= text_field :user, :email %></span>
</p>

<p><label for="password"><%= _('Password') %> </label>
<span><%= password_field :user, :password %></span>
</p>

<p><label for="password_confirmation"><%= _('Confirm Password') %> </label>
<span><%= password_field :user, :password_confirmation %></span>
</p>
