
<p><label for="login">Login</label>
<span><%= text_field :user, :login %></span>
</p>

<p><label for="email">Email</label>
<span><%= text_field :user, :email %></span>
</p>

<p><label for="password">Password</label>
<span><%= password_field :user, :password %></span>
</p>

<p><label for="password_confirmation">Confirm Password</label>
<span><%= password_field :user, :password_confirmation %></span>
</p>
