
<p><label for="login"><%= t(:login) %> </label>
<span><%= text_field :user, :login %></span>
</p>

<p><label for="email"><%= t(:email) %> </label>
<span><%= text_field :user, :email %></span>
</p>

<p><label for="password"><%= t(:password) %> </label>
<span><%= password_field :user, :password %></span>
</p>

<p><label for="password_confirmation"><%= t(:confirm_password) %> </label>
<span><%= password_field :user, :password_confirmation %></span>
</p>
