<%= error_messages_for :user %>
<%= form_tag({ :action => 'update', :id => @user }) %>
<%= render :partial => 'form' %>
<div class='button_bar'>
<%= button _('Save'), :save %>
<% if current_user.administrator %>
  <%= button _('Cancel'), :cancel, :action => 'list' %>
<% else %>
  <%= button _('Cancel'), :cancel, :action => 'index' %>
<% end %>
</div>
<%= end_form_tag %>
