<%= error_messages_for :user %>
<% form_tag({ :action => 'update', :id => @user }) do %>
<%= render :partial => 'form' %>
<div class='button_bar'>
<%= button 'save', _('Save'), :save %>
<% if current_user.administrator %>
  <%= button 'del', _('Cancel'), :cancel, :action => 'list' %>
<% else %>
  <%= button 'del', _('Cancel'), :cancel, :action => 'index' %>
<% end %>
</div>
<% end %>
