<h2><%= t(:users) %></h2>

<table>
  <tr>
    <th><%= t(:login) %></th>
  </tr>
  <% for user in @users %>
    <tr>
      <td><%= user.login %></td>
      <td>
        <%= button t(:edit), :edit, :action => 'edit', :id => user %>
      </td>
    </tr>
  <% end%>
</table>

<div class='button_bar'>
<%= button t(:new_user), :new, :action => 'new' %>
</div>
