<%= error_messages_for :user %>
<% form_tag({ :action => 'create' }) do %>
<%= render :partial => 'form' %>
<div class='button_bar'>
<%= button 'save', t(:save), :save %>
<%= button 'del', t(:cancel), :cancel, :action => 'list' %>
</div>
<% end %>
