/* Autor: Valessio S Brito <valessio@colivre.coop.br>  */

body {
  color: #545454;
  font: 14px/1.5em Verdana, Arial, sans-Serif;
  background: #fffaf0 url('../images/bgbody.png') top right repeat-y;
}

#header {
  background: #ffffff url('../images/bgheader.png') bottom left repeat-x;
}

/* Login */

#loginform {
margin-left: 50px;
width: 190px;
font-size: 1.3em;
}

#banner_header {
 position: absolute;
 left: 50%;
 margin-left: -150px;
 bottom: 0;
 background: url('../images/bannerabelo_300x100.png') top center no-repeat;
 width: 300px;
 height: 100px;
}

#center_box a {
color: #545454;
text-decoration: none;
}

#center_box a:hover {
color: #000000;
text-decoration: none;
}

#center_box a:visited {
color: #545454;
text-decoration: none;
}

#center_box .button_bar {
text-align: center;
}

input#password , input#login, input#user_login, input#user_email, input#user_password, input#user_password_confirmation {
background: url('../images/bginput.png') no-repeat;
border: 0px;
padding: 5px;
width: 180px;
height: 33px;
color: #545454;
font-size: 1.0em;
text-align: center;
}

#center_box input#user_administrator {
  width: 20px;
  height: 20px;
}

#center_box input.button_login, #center_box input.button_save {
height: 33px;
font-size: 1.0em;
text-align: center;
border: 0px;
cursor: pointer;
color: #545454;
background: transparent;
}

#center_box p:hover {
color: #000000;
}

input#password:hover, input#login:hover, input#user_login:hover, input#user_email:hover, input#user_password:hover, input#user_password_confirmation:hover {
color: #000000;
}

input.button_login:hover, input.button_save:hover {
color: #000000;
}

#center_box a:visited.button_new, #center_box a:visited.button_cancel, #center_box a:visited.singup {
text-decoration: none;
color: #545454;
}

#center_box a.button_new:hover, #center_box a.button_cancel:hover, #center_box a.singup:hover {
text-decoration: none;
color: #000000;
}

/* End */

#info_org {
  font-size: 17px;
  color: #c4a000;
}

#info_org span {
font-size: 19px;
font-weight: bold;
}

#userbar {
  color: #545454;
  font: 14px/2.2em Verdana, Arial, sans-Serif;
}

#userbar a {
color: #545454;
text-decoration: none;
margin-bottom: 2px;
margin-left: 3px;
margin-right: 3px;
}

#userbar a:hover {
color: #000000;
margin-bottom: 0px;
border-bottom: 2px solid #ffffff;
}

div.login_bar a {
background-position: top left;
background-repeat: no-repeat;
padding-left: 18px;
}

div.navigation_bar {
padding-left: 40px;
}

div.control_header {
position: absolute;
left: 0;
bottom: 0;
width: 35px;
height: 22px;
}

div.control_header a {
display: table-cell;
margin:0px;
padding:0px;
border:0px;
width: 15px;
height: 22px;
}

div.control_header a:hover {
display: table-cell;
border: 0px;
margin: 0px;
padding: 0px;
}

div.control_header a.show {
background: url('../images/downbar.png') top left no-repeat;
}

div.control_header a.hide {
background: url('../images/upbar.png') top left no-repeat;
}

div.control_header span {
display: none;
}

/* SideBar 

#sidebar {
filter:alpha(opacity=50);
-moz-opacity:.50;
opacity:.50;
}

#sidebar:hover {
filter:alpha(opacity=100);
-moz-opacity:1.0;
opacity:1.0;
}

*/

#sidebar a.show_itembar { 
background: url('../images/itembar_down.png') bottom right no-repeat;
display: table-cell;
text-decoration: none !important;
vertical-align: middle;
text-align: center !important;
width: 290px;
height: 30px;
margin: 0px;
padding: 0px;
color: #545454 !important;
font-size: 18px;
}

#sidebar a:hover.show_itembar, #sidebar a:hover.hide_itembar { 
color: #c4a000 !important;
}

#sidebar a.hide_itembar { 
display: table-cell;
position: absolute;
right: 6px;
bottom: 3px;
background: url('../images/itembar_up.png') bottom right no-repeat;
text-decoration: none !important;
vertical-align: middle;
text-align: right !important;
height: 15px;
padding-right: 20px;
margin: 0px;
color: #545454 !important;
font-size: 10px;
}

#sidebar .itembar {
position: relative;
background: url('../images/bgtransparent_300px.png') top left repeat-x;
margin: 0px;
margin-bottom: 5px;
padding: 10px;
border-right: 1px solid #c4a000;
border-bottom: 1px solid #c4a000;
border-left: 1px solid #c4a000;
}

#sidebar p {
text-align: left;
margin: 0px;
padding 0px;
}

/* Content 
a:hover:after, a:focus:after {
content: "<b>" attr(accesskey) "</b>";
}
*/

#content h1 { 
color: #c4a000;
margin: 8px;
padding: 0px;
}

#content a {
text-decoration: none;
color: #c4a000;
}

#content a:visited {
text-decoration: underline;
color: #a4a000;
}

#content a:active {
text-decoration: none;
color: #000000;
}

#content a:hover {
text-decoration: blink;
color: #545454;
}

/* Tabelas */

table {
text-align: left;
margin: 0px;
padding: 0px;
border-spacing: 0;
margin-left: 50px;
}

tr th {
background: #f4edcf;
text-align: center;
padding: 2px;
}

tr td {
background: #f9f5e6;
}

tr.alt td {
background: #fffaf0;
}

tr:hover td {
border-color: #f9f5e6;
background: #f4edcf;
}

td.endcol {
border-left: 2px solid #f4edcf;
border-right: 2px solid #f4edcf;
}

td.endrow {
border-bottom: 2px solid #f4edcf;
}

td.value {
width: 80px;
border-left: 2px solid #f4edcf;
padding-right: 5px;
text-align: right;
}

td.date {
border-left: 2px solid #f4edcf;
width: 100px;
text-align: center;
}

td.option {
border: 0px !important;
background: transparent;
}

td.true {
color: green !important;
text-align: center;
}

td.false {
color: red !important;
text-align: center;
}

/* Options Icon TD */
tr td.option a, tr td.option span {
display: none;
}

tr:hover td.option a {
position: relative;
display: block;
width: 30px;
height: 30px;
}

td.option a#tdshow {
background: url('../images/icon_show_30px.png') no-repeat;
}
td.option a#tdedit {
background: url('../images/icon_edit_30px.png') no-repeat;
}
td.option a#tddestroy {
background: url('../images/icon_destroy_30px.png') no-repeat;
}

/* Footer */
#footer {
background: url('../images/colivre.png') 20px no-repeat;
font-size: 10px;
text-align: center;
}

#footer a {
color: #545454;
}

#footer a:hover {
color: #000000;
}

