
#banner_header {
 position: absolute;
 left: 50%;
 margin-left: -150px;
 bottom: 0;
 background: url('../images/bannerabelo_300x100.png') top center no-repeat;
 width: 300px;
 height: 100px;
}

#login_box {	
  position:relative;
  background: url('../images/bgloginbox.jpg') bottom center no-repeat;
  width:290px;
  padding-top: 10px;
  padding-bottom: 20px;
  margin-left: -145px;
  left: 50%;
  overflow: none;
  font-size: 1.3em;
  z-index: 1;
}

#loginform {
margin-left: 50px;
width: 190px;
}

#loginform a {
color: #545454;
text-decoration: none;
}

#loginform a:hover {
color: #000000;
text-decoration: none;
}

#loginform a:visited {
color: #545454;
text-decoration: none;
}

#loginform .button_bar {
text-align: center;
}

input#password , input#login, input#user_login, input#user_email, input#user_password, input#user_password_confirmation {
background: url('../images/bginput.png') no-repeat;
border: 0px;
padding: 5px;
width: 180px;
height: 33px;
color: #545454;
font-size: 1.0em;
text-align: center;
}

input#user_administrator {
  width: 20px;
  height: 20px;
}

input.button_login, input.button_save {
height: 33px;
font-size: 1.0em;
text-align: center;
border: 0px;
cursor: pointer;
color: #545454;
background: transparent;
}

p:hover {
color: #000000;
}

input#password:hover, input#login:hover, input#user_login:hover, input#user_email:hover, input#user_password:hover, input#user_password_confirmation:hover {
color: #000000;
}

input.button_login:hover, input.button_save:hover {
color: #000000;
}

a.button_new, a.button_cancel, a.singup {
text-decoration: none;
color: #545454;
}

a.button_new:hover, a.button_cancel:hover, a.singup:hover {
text-decoration: none;
color: #000000;
}
