/* Autor: Valessio S Brito <valessio@colivre.coop.br>  */

#header h1.status {
text-align: center;
font-size: 5em;
color: #4e9a06;
border-bottom: 3px solid #4e9a06;
margin: 20px;
padding-bottom: 20px;
}

#add_item_panel h1 {
color: #204a87;
}

#insert_ammount h1 {
text-align: left;
font-size: 20px;
margin: 5px;
}

#insert_ammount {
padding: 5px;
margin: 5px;
}

#cumpom_sales {
height: 300px;
}

#sale_details { 
margin-right: 300px;
}

#product_identification {
display: block;
vertical-align: middle;
height: 45px;
width: auto;
background: #fef4b9;
overflow: hidden;
font-size: 2em;
text-align: center;
}

#search_product a {
display: block;
margin-top: 40px;
background: url('../images/icon_search_product.png') bottom no-repeat !important;
width: 41px;
height: 41px;
margin-bottom: 20px;
margin-left: 20px;	
}

#search_product a:hover, #search_product a:focus {
background: url('../images/icon_search_product.png') top no-repeat !important;
}

#add_product span {
display: none;
}

#add_product a {
display: block;
margin-top: 15px;
width: 41px;
height: 41px;
float: right;
border: none !important;
background: url('../images/icon_add_product.png') bottom no-repeat !important;
margin: 10px;
}

#add_product a:hover, #add_product are:focus {
background: url('../images/icon_add_product.png') top no-repeat !important;
}

#search_product span {
display: none;
}

#add_item_panel {
position: relative;
border: 1px solid transparent;
text-align: left;
}

#code_product {
position: absolute; 
top: 0;
margin-left: 80px;
}

input#product_id {
font-weight: bold;
font-size: 40px;
width: 370px;
text-align: right;
}

input#ammount {
font-weight: bold;
font-size: 25px;
width: 150px;
text-align: right;
}

input#money_in {
font-weight: bold;
font-size: 30px;
width: 200px;
color: green !important;
background: #d8f3b1 !important;
text-align: right;
}

#money_in h1 {
text-align: left;
font-size: 20px;
color: #4e9a06 !important;
margin: 5px;
}

#result_ammount {
float: right;
font-weight: bold;
font-size: 20px;
padding: 5px;
width: 200px;
text-align: left;
}

#change_money {
float: right;
font-weight: bold;
font-size: 30px;
padding: 10px;
width: 200px;
color: green !important;
text-align: left;
}

#add_item_panel input {
background: #cfdbe5;
color: #204a87;
border: 1px solid transparent;
}

#add_item_panel input:focus, #add_item_panel input:hover {
background: #e7ebeb;
color: #545454;
border: 1px solid #545454;
}

#banner_bottom {
position: absolute;
left: 0;
}

#pointsales_bar {
float: right;
width: 200px;
border: 1px solid red;
}

#pointsales_bar span {
display: none;
}

#button_reforco {
display: block;
background: url('../images/icon_reforco.png') top no-repeat !important;
width: 47px;
height: 47px;
margin-left: 10px;
}

#button_reforco:hover {
background: url('../images/icon_reforco.png') bottom no-repeat !important;
}

#button_sangria {
display: block;
background: url('../images/icon_sangria.png') top no-repeat !important;
width: 47px;
height: 47px;
margin-left: 10px;
}

#button_sangria:hover {
background: url('../images/icon_sangria.png') bottom no-repeat !important;
}

#sidebar {
 background: url('../images/bgcumpom.png') center repeat-y;
}
