/* Autor: Valessio S Brito <valessio@colivre.coop.br>  */

@import "colors.css";
@import "nav.css";
@import "box.css";

body {
  margin:0px;
  padding:0px;
}

#header {
  position: relative;
  margin:0px;
  padding:0px;
  height: 110px;
}

#info_org {
  padding-left: 80px;
  padding-right: 160px;
  height: 78px;
  display:table-cell;
  vertical-align: middle;
}

#userbar {
height: 30px;
}

div.login_bar {
float: right;
}

#logo_org {
position: absolute;
top: 2px;
left: 2px;
margin-right: 5px;
}

#banner_top {
position: absolute;
top: 2px;
right: 5px;
}

#nav {
position: absolute;
top: 110px;
right: 3px;
}

#footer {
margin-top: 20px;
padding-left: 60px;
bottom: 0;
height: 50px;
}

