<div id="attachments">
</div>


<%= link_to_function _('Attach a file '), nil, :id => "attach_file" do |page|
    page.insert_html :bottom, :attachments, file_column_field('attachment', 'file')
end %>


