<%= error_messages_for 'mass_mail' %>

<!--[form:mass_mail]-->
<label for="mass_mail_subject"><b><%= _('Subject:') %></b></label>
<%= text_field 'mass_mail', 'subject', 'size' => 65  %>
<br>
<label for="mass_mail_body"><b><% _('Body') %></b></label><br/>
<%= rich_text_editor 'mass_mail', 'body', :width => '54%', :height => '300px' %>
<!--[eoform:mass_mail]-->
