<%= error_messages_for 'mass_mail' %>

<!--[form:mass_mail]-->
<p><label for="mass_mail_subject">Subject</label><br/>
<%= text_field 'mass_mail', 'subject'  %></p>

<p><label for="mass_mail_body">Body</label><br/>
<%= text_area 'mass_mail', 'body'  %></p>
<!--[eoform:mass_mail]-->
