<%= title t(:editing_mass_mail) %>

<% form_tag({:action => 'update', :id => @mass_mail}, :multipart => true) do %>

  <%= render :partial => 'form' %>

  <%= display_edit_info_options(@mass_mail) %>

<% end %>


