<% title _('Editing mass mail') %>

<%= start_form_tag ({:action => 'update', :id => @mass_mail}, :multipart => true) %>
  <%= render :partial => 'form' %>
  <div class='button_bar'>
    <%= button 'save',_('Save'), :save %>
    <%= button 'cancel',_('Cancel'), :cancel, :action => 'list' %>
  </div>
<%= end_form_tag %>

<%= render :partial => 'attachments' %>
