
<% form_tag :action => 'filter_customers', :id => @mass_mail.id do %>
<br><p><label for="categories"><%= _("Categories") %></label>
<%= select_categories @mass_mail  %></p>
<br><p><label for="consumed_products"><%= _("Consumed Products") %></label>
<%= select_products @mass_mail  %></p>
<%= button 'save', _("Filter"), :save %>
<%= button 'back', _("Back"), :cancel, :action => "show", :id => @mass_mail.id %>
<% end %>
