<%= title _('Listing mass mail') %>

<%= display_list_options 'mass_mail', 'subject' %>

<%= display_collection @mass_mails %>

<%= pagination_links(@mass_mail_pages, :params => {:query => @query}) %>

