<h2>New mass mail</h2>

<%= start_form_tag :action => 'create' %>
  <%= render :partial => 'form' %>
  <div class='button_bar'>
    <%= button 'save',"Create", :save %>
    <%= button 'cancel', 'Cancel', :cancel, :action => 'list' %>
  </div>
<%= end_form_tag %>
