<%= title _('New mail') %>

<% form_tag :action => 'create' do %>
  <%= render :partial => 'form' %>
  <div class='button_bar'>
    <%= button 'save',"Create", :save %>
    <%= button 'cancel', 'Cancel', :cancel, :action => 'list' %>
  </div>
<% end %>

<%= render :partial => 'attachments' %>
