<h2><%= @mass_mail.subject %></h2>
<p>
<label><%= _('Body:') %></label>
<%= @mass_mail.body %>
</p>

<%= _("Send to: ") %>
<%= link_to "Filter customers", :action => "filter_categories", :id => @mass_mail.id %>




