<%= title _("%s") % @mass_mail.subject %>

<%= display_show_info @mass_mail %>

<%= display_show_info_options(@mass_mail) %>

<div class="display_info_options">
  <%= button('search', _('Select recipients'), :select_recipients, :action => 'select_recipients', :id => @mass_mail) %> 
</div>

