<h2><%= @mass_mail.subject %></h2>

<p>
<label><%= _('Body:') %></label>
<%= @mass_mail.body %>
</p>

<%= _("Send to: ") %>
<%= link_to _("Filter customers"), :action => "filter_categories", :id => @mass_mail.id %>

<br><br>

<%= button('edit', _('Edit'), :list, :action => 'edit', :id => @mass_mail.id) %>
<%= button('back', _('Back'), :list, :action => 'list' ) %>
