<ul class='tabs'>

  <%= tab_item ( _('Product categories'), 'categories', {:controller => 'categories', :action => 'list', :category_type => 'product' }, 'category_type', 'product' ) %>
  <%= tab_item ( _('Customer categories'), 'customers', {:controller => 'categories', :action => 'list', :category_type => 'customer' }, 'category_type', 'customer') %>
  <%= tab_item ( _('Worker categories'), 'worker', {:controller => 'categories', :action => 'list', :category_type => 'worker' }, 'category_type', 'worker') %>
  <%= tab_item ( _('Supplier categories'), 'supplier', {:controller => 'categories', :action => 'list', :category_type => 'supplier' }, 'category_type', 'supplier' ) %>
</ul>
