<ul class='tabs'>
  <%= tab_item ( _('Product'), 'products', { :controller => 'products', :action => 'list' } )%>
  <%= tab_item_system_actor (_('Customer'), 'system_actors', { :controller => 'system_actors', :action => 'list', :actor => 'customer' }, 'customer' )%>
  <%= tab_item_system_actor (_('Supplier'), 'system_actors', { :controller => 'system_actors', :action => 'list', :actor => 'supplier' }, 'supplier' )%>
  <%= tab_item_system_actor (_('Worker'), 'system_actors', { :controller => 'system_actors', :action => 'list', :actor => 'worker' }, 'worker' )%>
</ul>
