<ul class='tabs'>
  <%= tab_item ( _('Product'), 'products', { :controller => 'products', :action => 'list' } )%>
  <%= tab_item (_('Customer'), 'system_actors', { :controller => 'system_actors', :action => 'list', :actor => 'customer' }, 'actor', 'customer' )%>
  <%= tab_item (_('Supplier'), 'system_actors', { :controller => 'system_actors', :action => 'list', :actor => 'supplier' }, 'actor', 'supplier' )%>
  <%= tab_item (_('Worker'), 'system_actors', { :controller => 'system_actors', :action => 'list', :actor => 'worker' }, 'actor', 'worker' )%>
</ul>
