<ul>
  <li> <%= link_to _('Product'), { :controller => 'products', :action => 'list' } %> </li>
  <li> <%= link_to _('Customer'), { :controller => 'customers', :action => 'list', :actor => 'customer' } %> </li>
  <li> <%= link_to _('Supplier'), { :controller => 'suppliers', :action => 'list', :actor => 'supplier' } %> </li>
  <li> <%= link_to _('Worker'), { :controller => 'workers', :action => 'list', :actor => 'worker' } %> </li>
</ul>
