<%= error_messages_for 'department' %>

<!--[form:department]-->

<% display_edit_info @department, :class => 'view_data' do |item| %>

  <%= display_field_edit(item, 'name',
        :title => t(:name),
        :content => text_field('department', 'name'),  
        :html_options => {:class => 'line_item'}
      )
  %>

<% end %>
<!--[eoform:department]-->

