<%= error_messages_for 'department' %>

<!--[form:department]-->
<div id="form_reg">
  <p><label for="department_name"><%= _('Name')%></label><br/>
  <%= text_field 'department', 'name'  %></p>
</div>
<!--[eoform:department]-->

