
<%= title _('Listing departments') %>

<%= display_list_options 'department', 'name' %>

<%= display_collection @departments %> 

<%= pagination_links(@department_pages, :params => {:query => @query}) %>
