<%= title _('New department') %>

<% form_tag :action => 'create' do %>
  <%= render :partial => 'form' %>
  <div class='button_bar'>
    <%= button "Create", :save %>
    <%= button 'Cancel', :cancel, :action => 'list' %>
    <%= button_remote('', :reset , {:update => 'form_reg', :url => {:action => 'reset'}}, :title => _('Reset')) %>
  </div>
<% end %>
