<% for column in Department.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @department.send(column.name) %>
</p>
<% end %>

<%= link_to _('Edit'), :action => 'edit', :id => @department %> |
<%= link_to _('Back'), :action => 'list' %>
