
<%= render :partial => 'menu' %>

<%= title t(:department_name, :name => @department.name) %>

<%= display_show_info @department, :class => 'view_data'%>

<%= display_show_info_options(@department) %> 

