
<%= title @department.name %>

<p> <b><%= _('Name') %>:</b> <%= @department.name %></p>

<%= button('back', _('Back'), :list, :action => 'list' ) %>
<%= button('edit', _('Edit'), :list, :action => 'edit', :id => @department) %> 
