<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">
<html class="controller-<%= params[:controller] %> action-<%= params[:action] %>">
  <head>
    <title> <%= @organization.name %> </title>
    <%= design_all_header_tags %>
    <%= javascript_include_tag 'spinner' %>
        <link rel="shortcut icon" href="<%=image_path('logo.ico')%>" />
</head>
  <body>
    <%= image_tag 'spinner.gif', :id=>'spinner', :align=>'absmiddle', :style=>'display:none; float:left;' %>
    <div id="warp">
      <div id="frame">
            <%= design_display(yield) %>
      </div>
    </div>

    <div id="footer">
      <%= footer %>
    </div>
  </body>
</html>
