
.back { 
  width: 24px;
  height: 24px;
  background-image: url('back.png');
}

.none_add { background-image: url('none.png');}
.add { background-image: url('add.png');}
.search { background-image: url('search.png');}
.edit_small { background-image: url('edit_small.png');}
.view_small { background-image: url('view_small.png');}
.del_small { background-image: url('del_small.png');}
.edit { background-image: url('edit.png');}
.save { background-image: url('save.png');}
.back { background-image: url('back.png');}
.reset { background-image: url('reset.png');}
.image { background-image: url('image.png');}
