<%= title @title %>

<% form_tag( :action => 'update', :id => @stock, :type => params[:type] )  do %>
  <%= render :partial => 'stock_base/extended_form' %>
  <%= display_edit_info_options @stock %>
<% end %>

