<%= title _('Stock history for %s') % content_tag(:b, @product.name) %>

<%= display_list_options 'supplier', 'name', :product_id => @product %>

<div id="stock_table">
  <%= render :partial => 'stock_base/display_stock_table' %>
</div>
