<%= link_to_close_popup " ", {:class => 'button_close'}, 'add_item', 'proposal_sections' %>

<h2><%= _('New item') %></h2>

<%= popup_form_tag( {:action => 'add', :id => @commercial_section_id, :commercial_proposal_id => @commercial_proposal_id } ) %>

<%= render :partial => 'form' %>

<%= submit_tag _('Add item') %>

<%= end_form_tag %>
