.button{
  float: left;
  border: none;
  display: block;
  opacity: 0.6;
  margin-left: 5px;
  width: 24px;
  height: 24px;
  background: url(/icons/aurium_neu/24x24/bt_none.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.button:hover {
  opacity: 1;
}

.button span {
  display: none;
}

.button_search  { background-image: url(/icons/aurium_neu/24x24/lupa.png)   }
.button_new     { background-image: url(/icons/aurium_neu/24x24/add.png)    }
.button_add     { background-image: url(/icons/aurium_neu/24x24/add.png)    }
.button_save    { background-image: url(/icons/aurium_neu/24x24/save.png)   }
.button_cancel  { background-image: url(/icons/aurium_neu/24x24/cancel.png) }
.button_img     { background-image: url(/icons/aurium_neu/24x24/image.png)  }
.button_show    { background-image: url(/icons/aurium_neu/16x16/view.png); width: 16px; height: 16px }
.button_edit    { background-image: url(/icons/aurium_neu/16x16/edit.png); width: 16px; height: 16px }
.button_destroy { background-image: url(/icons/aurium_neu/16x16/del.png);  width: 16px; height: 16px }
