<p><label for="commercial_proposal_budget"><%= _('Budget') %></label>
<%= link_to_popup _('Add a section'), {:action => 'new_section', :id => @commercial_proposal.id}, {}, 'add_section', 'proposal_sections' %></p>
<%= render :partial => 'sections' %>
