<%= error_messages_for 'commercial_proposal' %>

<!--[form:commercial_proposal]-->
<%= department_select(@organization, 'commercial_proposal') %>

<p><label for="commercial_proposal_name"> <%= _('Name') %> </label>
<%= text_field 'commercial_proposal', 'name'  %></p>

<p><label for="commercial_proposal_is_template"> <%= _('Is template') %> </label>
<%= select 'commercial_proposal', 'is_template', [[_('False'), false],[_('True'), true]] %>
</p>
<!--[eoform:commercial_proposal]-->
