<%= link_to_close_popup " ", {:class => 'button_close'}, 'add_section' %>

<h2><%= _('New section') %></h2>

<p><label for="section_name"><%= _('Name') %></label>
<%= text_field 'commercial_proposal_section', 'name'%></p>


