<%= error_messages_for 'commercial_proposal' %>

<%= link_to_close_popup " ", {:class => 'button_close'}, 'edit_section', 'proposal_sections' %>

<h2><%= _('Edit section') %></h2>

<%= popup_form_tag( {:action => 'update_section', :id => @commercial_proposal_section.id, :commercial_proposal_id => @commercial_proposal_id  } ) %>

<p><label for="section_name"><%= _('Name') %></label>
<%= text_field 'commercial_proposal_section', 'name'%></p>

<%= submit_tag _('Save') %>

<%= end_form_tag %>
