<h1>Editing commercial_proposal</h1>

<%= start_form_tag :action => 'update', :id => @commercial_proposal %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<%= end_form_tag %>

<%= link_to 'Show', :action => 'show', :id => @commercial_proposal %> |
<%= link_to 'Back', :action => 'list' %>
