<h1>New commercial_proposal</h1>

<div class='left_content'>
<%= start_form_tag :action => 'create' %>
<%= render :partial => 'form' %>
<%= render :partial => 'budget' %>
<%= submit_tag "Create" %>
<%= end_form_tag %>
</div>

<div id='new_component',class='right_content'>
</div>

<%= link_to 'Back', :action => 'list' %>
