<%= error_messages_for 'commercial_proposal_item' %>

<h2><%= _('Edit item') %></h2>

<%= form_remote_tag(:url => {:action => 'update', :id => @commercial_proposal_item.id, :commercial_proposal_id => @commercial_proposal_id }, :update => 'proposal_sections' ) %>

<%= render :partial => 'form' %>
<%= link_to_remote _('Cancel'), {:url => {:action => 'cancel'}, :update => 'new_component'}, :class => 'button' %>
<%= submit_tag _('Save') %>

<%= end_form_tag %>
