<p><label for="item_product"><%= t(:product) %></label>
<%= select('commercial_proposal_item', 'product_id', @organization.products.collect { |p| [ p.description, p.id ] }, { :include_blank => true }) %></p>

<p><label for="item_quantity"><%= t(:quantity) %></label>
<%= text_field 'commercial_proposal_item', 'quantity'%></p>

<p><label for="item_unitary_value"><%= t(:unitary_value) %></label>
<%= text_field 'commercial_proposal_item', 'unitary_value'%></p>
