<div id="section_items">
  <ul>
  <% for item in items %>
    <li><%= item.description %>
    <%= link_to_remote t(:edit), :url => {:controller => 'document_items', :action => 'edit', :id => item.id, :document_id => @document.id }, :update => 'new_component' %>
    <%= link_to_remote t(:remove'),_:url_=>_{:controller_=>_'document_items',_:action_=>_'destroy',_:id_=>_item.id,_:document_id_=>_@document.id_},_:update_=>_'proposal_sections',_:confirm_=>__('are_you_sure), :method => 'post' %></li>
  <% end %>
  </ul>
</div>
