<h1>Editing customer</h1>

<%= start_form_tag :action => 'update', :id => @customer %>
  <%= render :partial => 'form' %>
  <div class='button_bar'>
    <%= button _('Save'), :save %>
    <%= button _('Cancel'), :cancel, :action => 'list' %>
  </div>
<%= end_form_tag %>
