<h2><%= @customer.name %></h2>
<p>
<label><%= _('Birthday:') %></label>
<%= @customer.birthday %>
</p>

<p>
<label><%= _('Address:') %></label>
<%= @customer.address %>
</p>

<p>
<label><%= _('CNPJ:') %></label>
<%= @customer.cnpj %>
</p>

<p>
<label><%= _('CPF:') %></label>
<%= @customer.cpf %>
</p>

<p>
<label><%= _('RG:') %></label>
<%= @customer.rg %>
</p>

<p>
<label><%= _('Description:') %></label>
<%= @customer.description %>
</p>
