<%= beta_info %>

<%= title _('Listing Trackers') %>

<div id="graphic_image">
  <center>
    <img src="<%= url_for(:action => 'draw' ) %>" />
  </center>
</div>

<%= display_show_info @tracker %>




