<%= render :partial => 'menu' %>

<%= title t(:%s_documents) % @system_actor.name %>

<%= display_documents_list_options 'document', 'document_name', :actor => params[:actor], :id => params[:id] %>

<%= display_tag_list @documents %>

<%= render :partial => 'documents_list' %>

