<p><label for="document_budget"><%= _('Budget') %></label>

<%= link_to_remote _('New section'), :url => {:controller => 'document_sections', :action => 'new', :id => @document.id }, :update => 'new_component' %>

<%= render :partial => 'document_sections/list' %>
