<%= title('Editing Document') %>


<div class='left_content'>
<%= start_form_tag :action => 'update', :id => @document %>
<%= render :partial => 'form' %>
<%= render :partial => 'budget' %>
<%= submit_tag 'Edit' %>
<%= end_form_tag %>
</div>

<div id='new_component',class='right_content'>
</div>

<%= link_to 'Show', :action => 'show', :id => @document %> |
<%= link_to 'Back', :action => 'list' %>
