
<%= title('%s') % @title %>

<%= display_list_options 'document', 'name', :show_document_models => params[:show_document_models] %>

<%= display_collection @documents %>

<%= pagination_links(@document_pages, :params => {:query => @query } ) %>
