
<%= title('%s') % @title %>

<%= display_list_options 'document', 'name', :document_model_id => params[:document_model_id], :models_list => params[:models_list] %>

<%= display_collection @documents %>

<%= pagination_links(@document_pages, :params => {:query => @query } ) %>
