
<%= title @document.name %>

<%= display_show_info @document, :models_list => params[:models_list], :document_model_id => params[:document_model_id] %>

<%= display_show_info_documents_options(@document, :models_list => params[:models_list], :document_model_id => params[:document_model_id]) %> 
