<% for column in CommercialProposal.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @commercial_proposal.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @commercial_proposal %> |
<%= link_to 'Back', :action => 'list' %>
