
<%= title @document.name %>

<p> <b><%= _('Name') %>:</b> <%= @document.name %></p>
<% for department in @departments %>
  <p> <b><%= _('Department') %>:</b> <%= department.name %></p>
<% end %>
<p> <b><%= _('Body') %>:</b> <%= @document.body %></p>

<%= button('back', _('Back'), :list, :action => 'list', :document_model => params[:document_model]) %> 
<%= button('edit', _('Edit'), :edit, :action => 'edit', :id => @document, :document_model => params[:document_model]) %> 
