<ul class='content_menu' >
  <li>
    <%= button 'customer_icon', _('Customer'), :list, { :action => 'list', :group_type => 'customer' } %>
  </li>

  <li>
    <%= button 'worker_icon', _('Worker'), :list, { :action => 'list', :group_type => 'worker' } %>
  </li>
</ul>
