<%= render :partial => 'menu' %>

<%= title _('Listing %s groups') % MassMailGroup.describe(@group_type) %>

<%= display_list_options 'mass_mail_group', 'name', :group_type => @group_type %>

<%= display_collection @mass_mail_groups %>

<%= pagination_links(@mass_mail_groups_pages, :params => {:query => @query}) %>

