<%= render :partial => 'menu' %>

<%= title _("%s") % @mass_mail_group.name %>

<%= display_show_info @mass_mail_group %>

<%= display_show_info_options(@mass_mail_group) %>

<div class="display_info_options">
  <%= lightbox_button('add', _('Add'), :manage_system_actors, {:action => 'manage_system_actors', :id => @mass_mail_group}, {:class => 'with_text'}) %>
</div>
