<p> <label> <%= _('Periodicity:') %> </label>
<%= select 'schedule_ledger', 'periodicity', [[_('None'), nil]].concat(@periodicities.map{|p| [p.name, p.id]}) %>
</p>

<div id="periodicity_informations" >

</div>

<%= observe_field('schedule_ledger_periodicity',
      :update => 'periodicity_informations',
      :url => {:action => 'get_periodicity_informations' },
      :with => "'value=' +  escape(value)"
    )
%>

