<%= display_field_edit(@ledger, 'schedule_interval',
      :title => _('Interval:'),
      :content => (text_field 'ledger', 'schedule_interval'),
      :html_options => {:class => 'line_item'}
    )
%>

