<div id="box_content_1">
  <div id="tag">
    <%= render :partial => 'tag' %>
  </div>

  <div id="budget" >
    <%= render :partial => 'budget' %>
  </div>
</div>

<div id="box_content_2">
  <% form_tag :action => 'update', :id => @ledger do %>
    <%= render :partial => 'form'%>
    <p>
      <%= submit_tag _('Save') %>
      <%= link_to_remote _('Clean'), :url => {:action => 'clean'} %>
    </p>
  <% end %>
</div>
<br class="clear"/>
