
<%= title t(:ledges_of_account(s)_%s')_%_@chosen_accounts.collect{|b|_b.name_}.join(',) %> 

<%= display_list_options 'ledger', 'description', @common_financial_parameters %>

<%= render :partial => 'shared_financial/display_financial_table' %>

 
