<div class="financial_calendar" >
<table>
  <tr>
    <th class="frist_col month_header" colspan="3"><div> 
      <%= link_to_remote @earlier_month.strftime('%b/%Y'),
          {:url => {:action => 'find_categories', :date => @earlier_month.to_date.to_s} },
          { :class => 'month_1' } %>    
      <b class="month_2"><%= @date.strftime('%b/%Y') %></b>
      <%= link_to_remote @last_month.strftime('%b/%Y'),
          { :url => {:action => 'find_categories', :date => @last_month.to_date.to_s} },
          { :class => 'month_3' } %>
    </div></th>
  </tr>
  <tr>
    <th class="frist_col"> <%= _('Name') %> </th>
    <th> <%= _('Forecast') %> </th>
    <th> <%= _('Real') %></th>
  </tr>
  <tbody>
    <% i = 0 %>
    <% for category in @categories %>
      <% i = ( i==0 )? 1 : 0 %>
      <tr class="line_<%= ( i==0 )? 'odd' : 'pair' %>" title="<%= category.name %>">
        <td class="frist_col category_name">
          <%= limit_string(category_with_sign(category), 17) %>
        </td>
        <td>
          <%= category.foreseen_value_by_date(@date) %>
        </td>
        <td>
          <%= category.effective_value_by_date(@date) %>
        </td>
      </tr>
    <% end %>
  </tbody>
  <tr>
    <th class="frist_col"> <%= _('Total') %> </th>
    <th> <%= @organization.sum_foreseen_value_by_date(@organization.default_bank_account,@date) %> </th>
    <th> <%= @organization.sum_effective_value_by_date(@organization.default_bank_account,@date) %> </th>
  </tr>
  <tr class="table_footer">
    <th class="frist_col"> <%= _('Balance') %> </th>
    <th class="balance" colspan="2"> <%= @organization.sum_foreseen_value_by_date(@organization.default_bank_account,@date) - @organization.sum_effective_value_by_date(@organization.default_bank_account,@date) %> 
    </th>
  </tr>
</table>
</div>
