<h2><%= _('New user profile') %></h2>

<%= error_messages_for 'user_profile' %>

<% form_tag(:action => 'create_with_template')  do %>

  <p>
  <label for='user_profile_user'><%= _('User') %></label>
  <span><%= select_user 'user_profile', 'user_id' %></span>
  </p>

  <%= render :partial => 'form' %>
  <div class='button_bar'>
    <%= button 'save',  _('Save'), :save %>
    <%= button 'cancel', _('Cancel'), :cancel, :action => 'index' %>
  </div>
<% end %>
