/* Autor: Valessio S Brito <valessio@colivre.coop.br>  */


@import url("error.css");
@import url("button.css");
@import url("spinner.css");
@import url("popup.css");

html {
  height: 100%;
  margin: 0px;
  padding: 0px;
  background: #FFFAF0 url("../images/bgbody.png") repeat-y;
  background-position: right 3px;
}

body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  background: url("../images/bgcumpom.png") repeat-y;
  background-position: 10px 0px;
}

.action-add_cash form,
.action-remove_cash form {
  padding-top: 50px;
}
.action-remove_cash form,
.action-remove_cash #cash_value {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.action-remove_cash #cash_value{
  width: 60px;
  text-align: right;
  border: 1px solid #CBA;
}
.action-remove_cash .save{
  margin: auto;
  float: inherit !important;
}

.action-cancel .back {
  float: right !important;
  position: relative;
  top: 20px;
  right: 20px;
}

.action-coupon_add_payment #cumpom_bar,
.action-payment #cumpom_bar {
  float: right;
}
.action-coupon_add_payment #cumpom_bar a,
.action-payment #cumpom_bar a {
  float: left;
  clear: left;
}

a {
  text-decoration: none;
}

#user_bar {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;
  padding: 5px 10px 16px 10px;
}

#org_bar {
  top: 0px;
  left: 0px;
  padding: 3px 10px 20px 10px;
  min-width: 300px;
  background: #FFFAF0;
  position: absolute;
}

#notice {
  position:absolute;
  top: -25px;
  background: url('../images/bgcenterbox.png') no-repeat bottom center;
  margin: 0px 0px 0px -145px;
  left: 50%;
  text-align: center;
  overflow: hidden;
  z-index: 50;
}
#notice div {
  width:260px;
  padding: 50px 35px 30px 35px;
}


#login_bar {
  float: right;
  font-size: 10px;
  position: relative;
  z-index: 20;
}
#login_bar a {
  margin-top: -1px;
  margin-right: 8px;
}

#org_link {
  float: left;
}
#org_link a {
  color: #A86;
}

#salesman {
  float: left;
  margin-left: 20px;
  color: #D0B8A0;
}
#salesman i {
  color: #A75;
}

h1.main_title {
  text-align: center;
  height: 60px;
  max-height:46px;
  padding: 7px 0px;
  font-size: 40px;
  color: #FFF;
  background: url("../images/fundo-status.png") 13px 0px;
  margin: 21px 0px 0px 0px;
  position: relative;
  z-index: 10;
}

#content {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
}

#pending_sale, #new_sale, #close_till, #change_till{
  border: 8px solid black;
  -moz-border-radius: 30px;
  text-align: center;
  margin: 80px 30% 0px 30%;
  font-weight: 800;
  font-size: 20px;
}

#close_till{
  margin-top: 20px;
}

#new_sale, #pending_sale, #close_till, #change_sale{
  border-color: #F8F4B0;
  background: #F8E890;
  font-size: 30px;
}

#pending_sale{
  border-color: #FFE8E8;
  background: #F8C8C8;
}

#close_till{
  border-color: #AACCFF;
  background: #5588FF;
}

#pending_sale a, #new_sale a, #close_till a{
  display: block;
  padding: 20px 0px;
  color: #C80;
}
#pending_sale a{
  color: #A00;
}
#close_till a{
  color: #05C;
}
#cumpom_bar {
  position: absolute;
  margin: 0px;
  right: 10px;
  z-index: 10;
}

#cumpom_bar a {
  display: block;
  float: left;
  height: 47px;
  padding-right: 20px;
  font-weight: bold;
  font-size: 12px;
  color: #642;
  padding-left: 48px;
}

#cumpom_bar span {
  height: 47px;
  display: table-cell;
  vertical-align: middle;
}

#cumpom_sales {
  height: 100%;
  position: absolute;
  top: 0px;
  z-index: 1;
  margin-left: 18px;
  width: 285px;
  float: left;
  overflow: auto;
}

#items_table table {
  width: 256px;
}
#items_tb_list {
  margin-top: 100px;
}
#payments_tb_list {
  margin-top: 10px;
}

#cumpom_sales td, #cumpom_sales tr, #cumpom_sales th {
  border: none;
  margin: 0px;
  padding: 2px;
  font-size: 10px;
  color: black;
  background: transparent;
}

th.cell_code div,
th.cell_amount div,
th.cell_un_price div,
th.cell_price div {
  width: 40px;
  overflow: hidden;
  position: relative;
}
th.cell_code div,
th.cell_amount div {
  width: 20px;
}
th.cell_code div div,
th.cell_amount div div,
th.cell_un_price div div,
th.cell_price div div{
  height: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
  background: url('../images/esconde-nome.png') top right repeat-y;
}
th.cell_desc {
  text-align: left;
}
th.cell_desc div div {
  display: none;
}
td.cell_un_price,
td.cell_price {
  width: 40px;
}
#cumpom_sales td.cell_tot {
  text-align: right;
  font-weight: 800;
  font-size: 20px;
}

#payments_tb_list th {
  font-size: 150%;
}

td.cell_payment_tot_tit,
td.cell_balance_tit {
  text-align: right;
}
td.cell_payment_tot_tit,
td.cell_balance_tit,
td.cell_payment_tot_val,
td.cell_balance_val {
  font-weight: 800;
}

td.cell_number {
  text-align: right;
}

#sale_details {
  margin: 50px 10px 0px 315px;
}

#product_identification {
  -moz-border-radius: 40px;
  display: block;
  height: 45px;
  font-size: 35px;
  background: #FFF4B8;
  overflow: hidden;
  text-align: center;
}


#banner_bottom {
  background: url('../images/bannerabelo_100x33.png') no-repeat;
  width: 100px;
  height: 33px;
  position: absolute;
  right: 5px;
  bottom: 0px;
}
#banner_bottom span {
  display: none;
}


#abelo_add_item_panel {
  position: relative;
  text-align: left;
}

#abelo_add_item_panel h1 {
  color: #204A87;
  font-size: 20px;
  margin: 0px;
}

#abelo_add_item_panel input {
  background: #cfdbe5;
  color: #204a87;
  border: 1px solid transparent;
}

#abelo_add_item_panel input:focus, #abelo_add_item_panel input:hover {
  background: #e7ebeb;
  color: #545454;
  border: 1px solid #545454;
}


#search_product a, #search_customer a {
  float: right;
  clear: right;
  display: block;
  margin: 10px 10px 0px 0px;
  background: url('../images/icon_search_product.png') bottom no-repeat;
  width: 41px;
  height: 41px;
}

#search_product a:hover, #search_product a:focus,
#search_customer a:hover, #search_customer a:focus {
  background: url('../images/icon_search_product.png') top no-repeat !important;
}

#search_product span,
#search_customer span {
  display: none;
}


#button_add_product {
  display: block;
  margin: 5px 10px 0px 0px;
  width: 41px;
  height: 41px;
  float: right;
  clear: right;
  border: none !important;
  background: url('../images/icon_add_product.png') bottom no-repeat !important;
  margin: 10px;
}

#button_add_product:hover, #button_add_product:focus {
  background: url('../images/icon_add_product.png') top no-repeat !important;
}

#code_product {
  margin: 5px 60px 5px 0px;
}

input#sale_item_product_code {
  font-weight: bold;
  font-size: 30px;
  width: 99%;
  text-align: right;
}

#insert_amount {
  margin-right: 60px;
  background: url('../images/x.png') center 25px no-repeat;
}

#insert_amount h1 {
  text-align: left;
  font-size: 20px;
  margin: 0px;
}

#result_amount {
  float: left;
  width: 55%;
  font-weight: bold;
  font-size: 20px;
  text-align: left;
}

input#sale_item_amount {
  font-weight: bold;
  font-size: 30px;
  width: 44%;
  text-align: right;
}

#value_product {
  font-size: 30px;
}



#pointsales_bar ul {
  margin: 0px 0px 0px 330px;
  padding: 0px;
  position: absolute;
  bottom: 0px;
}

#pointsales_bar li {
  float: left;
  margin: 0px;
  padding: 0px;
  list-style: none;
  position: relative;
}

#pointsales_bar span {
  display: none;
}



#money_in_change {
  margin-top: 10px;
}

#money_in{
  float: left;
  width: 50%;
}
#money_in h1, #money_in label {
  text-align: left;
  font-size: 20px;
  color: #4e9a06 !important;
}
#money_in label {
  float: left;
  padding-right: 5px;
}
input#money_in {
  font-weight: bold;
  font-size: 30px;
  width: 80%;
  color: green !important;
  background: #d8f3b1 !important;
  text-align: right;
}
  
#change_money {
  font-weight: bold;
  font-size: 30px;
  margin-left: 50%;
  color: green !important;
  text-align: left;
}


#show_access_keys {
  position: absolute;
  top: 1px;
  right: 100px;
}

#payment_form {
  margin: 20px 0px 0px 300px;
}

#payment_form h2 {
  margin: 0px;
  color: #A86;
}

#payment_form .field input,
#payment_form .field select {
  border: 1px solid #987;
}

#category,
#payment_details {
  display: table;
  margin-bottom: 20px;
}

#category .info_field,
#payment_details .info_field {
  display: table-row !important;
}

#category label,
#category field,
#payment_details label,
#payment_details .field {
  display: table-cell;
  padding: 2px 0px;
}

#category label,
#payment_details label {
  text-align: right;
  padding-right: 5px;
}

#payment_form .pay {
  margin-left: 60px;
}

.auto_complete {
  border: 1px solid #DC8;
  background: #FAF8A0;
}
.auto_complete ul,
.auto_complete li{
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.auto_complete a{
  color: #000;
  display: block;
  padding: 2px 0px 2px 4px;
}
.auto_complete a:hover{
  background: #FAF080;
}

