<%= error_messages_for 'contact_position' %>

<!--[form:contact_position]-->
<p><label for="contact_position_name">Name</label>
<span><%= text_field 'contact_position', 'name'  %></span>
</p>
<!--[eoform:contact_position]-->

