<h2>Editing contact_position</h2>

<% form_tag :action => 'update', :id => @contact_position do %>
  <%= render :partial => 'form' %>
  <div class='button_bar'>
    <%= button t(:save), :save %>
    <%= button t(:cancel), :cancel, :action => 'list' %>
  </div>
<% end %>
