/* Modo Editor */
#design_editor .design_blocks .hover {
  border: 2px dotted red;
  background: blue;
}

#design_editor h3.design_block_header {
 cursor: move;
 margin: 0px;
 padding: 1px;
}

/* Modo View */
.design_blocks{
  margin: 0px;
  padding: 5px;
}

.design_block_content {
  list-style: none;
  margin-bottom: 10px;
}

.design_block_content_footer {
  border: 0px !important;
  clear: both;
}

/*
.design_block_control_list{
   border: 1px solid green;
   margin-left: 15px;
   z-index: 10000;
}
*/

.design_block_control_list li {
	list-style: none;
}

h3.design_block_header {
   cursor: default;
   color: #bb9955;
   background: #e6d691;
   font-family: Sans-serif;
   border-bottom: 1px solid #bb9955;
   height: 25px;
   margin: 0px;
   line-height: 25px;
   vertical-align: middle;
   padding-left: 10px;
   text-align: center;
}

.design_block a.design_button_block span {
display: none;
}

.design_block a.design_button_block:hover span {
  display: inline;
  position: absolute;
  color: #bb9955;
  background: #e6d691;
  border: 1px solid #bb9955;
  font-family: Sans-serif;
  font-size: 13px;
  font-weight: bold;
  margin: 10px;
  padding-left: 5px;
  padding-right: 5px;
  -moz-border-radius: 10px;
}

.design_block a.design_button_block {
  display: block !important;
  border: 2px outset #bb9955 !important;
  width: 15px !important;
  height: 15px !important;
  margin: 3px !important;
  float: left !important;
}

.design_block a:hover.design_button_block {
  border: 2px inset #bb9955 !important;
}

.design_block a.button_block_hide {
border-bottom: 3px solid #bb9955;
}

.design_block ul {
  padding-left: 0px;
  margin: 0px;
}

.design_block ul li a:link,
.design_block ul li a:hover {
  display: block;
  color: #000;
}
.design_block ul li a:hover {
/*   background: #ddd; */
}

/* Favorite Links */
.favorite_links_organization ul {
  list-style: none;
}

.favorite_links_organization input {
  width: 90%;
}

/* Financial Forecasting Details */

.financial_forecasting .design_block_content div {
  margin: 0px;
  padding: 0px;
}

.design_block_type {
  font-size: 10px;
  -moz-border-radius: 10px;
  border: 2px solid #e6d691;
  margin-bottom: 10px;
}

div.design_block_type main_block {
 border: 0px;
}

.financial_forecasting table {
  margin: 0px;
  border: none;
  border-collapse: collapse;
}

.financial_forecasting .frist_col {
  width: 100%;
  border: none;
}


/*
.financial_forecasting .line_odd td {
  background-color: #FCFAF0;
}

.financial_forecasting .line_pair:hover td,
.financial_forecasting .line_odd:hover td {
  background-color: #F8F0A0;
} 

.financial_forecasting th, .financial_forecasting td {
  border-left: 1px dotted #CA8;
  text-align: center;
  line-height: 14px;
}



.financial_forecasting .category_name {
  line-height: 12px;
}

.financial_forecasting .month_header {
  border-bottom: 1px dotted #CA8;
}

.financial_forecasting .month_header div {
  position: relative;
}
  
.financial_forecasting .table_footer {
  border-top: 1px dotted #CA8;
}
.financial_forecasting .table_footer th.balance {
  border-left: none;
} 

.financial_forecasting .month_1, .financial_forecasting .month_3 {
  display: block;
  position: absolute;
  top: 0px;
  left: 3px;
  font-weight: normal;
}

.financial_forecasting .month_3 {
  left: inherit;
  right: 3px;
}

#design_editor .financial_forecasting {
  font-size: 14px;
} 

#design_editor .financial_forecasting input{
  width: 90%;
}

*/
/*Editor Informations*/

#design_editor .design_block {
  list-style: none;
}

#design_editor .design_block ul{
  list-style: none;
}

.design_block a.design_button_block_remove,
.design_block a.design_button_block_options {
  background: blue;
}

.design_block a:hover.design_button_block_remove,
.design_block a:hover.design_button_block_options {
  background: green;
}


#design_editor a.design_button_block_remove,
#design_editor a.design_button_block_options {
border: 2px solid red;
background: red;
}

#design_editor a.design_button_block {
  float: left !important;
}
