<%= title t(:tracker_name, :name => @organization.name) %>

<% form_tag :action => 'update', :organization_id => @organization do %>

  <%= render :partial => 'form' %>
  <div class="display_info_options">
    <%= button('back', t(:back), :back, :action => 'show', :id => @tracker, :organization_id => @organization) %> 
    <%= display_save_button %>
    <%= display_reset_button %>
  </div>

<% end %>


