<%= title t(:tracker_of_%s) % @organization.name %>

<div id="graphic_image">

  <center>
    <img src="<%= url_for(:action => 'draw', :organization_id => @organization) %>" />
  </center>

</div>

<%= display_show_info @tracker %>

<div class="display_info_options">
  <%= button('edit', t(:edit), :edit, :action => 'edit', :id => @tracker, :organization_id => @organization) %> 
</div>
