  <tr>
    <td><%= '&nbsp;&nbsp;' * product_category.level  %><%=  product_category.name %></td>
    <td><%= link_to 'New subcategory', :action => 'new', :parent_id => product_category %></td>
    <td><%= link_to 'Edit', :action => 'edit', :id => product_category %></td>
    <td><%= link_to 'Destroy', { :action => 'destroy', :id => product_category }, :confirm => 'Are you sure?', :post => true %></td>
  </tr>
  <% for child in product_category.children %>
    <%= render :partial => 'list', :locals => { :product_category => child } %>
  <% end %>
