<h1>Editing product_category</h1>

<%= start_form_tag :action => 'update', :id => @product_category %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<%= end_form_tag %>

<%= link_to 'Show', :action => 'show', :id => @product_category %> |
<%= link_to 'Back', :action => 'list' %>
