<h2> <%= t(:editing_product_category) %> </h2>

<% form_tag :action => 'update', :id => @product_category do %>
  <%= render :partial => 'form' %>
  <div class='button_bar'>
    <%= button t(:save), :save %>
    <%= button t(:cancel), :cancel, :action => 'list' %>
  </div>
<% end %>

