<h2><%= t(:listing_product_categories) %></h2>

<table>
  <tr>
    <th><%= t(:name) %></th>
  </tr>
  
<% for product_category in @product_categories.select { |c| c.top_level? } %>
  <%= render :partial => 'list', :locals => { :product_category => product_category } %>
<% end %>
</table>

<br />

<%= button t(:new_top-level_product_category), :add, :action => 'new' %>
