<h2> <%= _('New product_category') %> </h2>

<%= start_form_tag :action => 'create' %>
  <%= render :partial => 'form' %>
  <div class='button_bar'>
    <%= button _("Create"), :save %>
    <%= button _('Cancel'), :cancel, :action => 'list' %>
  </div>
<%= end_form_tag %>

