<html>
<head>
  <title> Abelo </title>
  <link href="../stylesheets/style.css" media="screen" rel="Stylesheet" type="text/css" />
  <link href="./icons/icons.css" media="screen" rel="Stylesheet" type="text/css" /
</head>

<body>
  <div id="warp">
    <div id="frame">
      <div id="header">
        <div id="banner_header"> </div>
      </div> <!-- End: header -->

      <div id="content">
        <div id="center_box">
          <div id="loginform">
            <form action="#" method="post">
              <p> <label for="login"> Login </label><br />
                <span><input id="login" name="login" type="text" /></span>
              </p>
 
              <p><label for="password">Senha </label><br />
                <span><input id="password" name="password" type="password" /></span>
              </p>

              <div class="button_bar">
                <div class="beault_button">
                  <input class="button button_login with_text none_password password" name="commit" type="submit" value="Submit" />
                </div>
                <div class="beault_button">
                  <a href="#" class="button button_new with_text none_add add" ><span>Signup</span></a>
                </div>
              </div>

              <br style="clear:both"/>
            </form>
          </div> <!-- loginform -->
        </div>  <!-- center_box -->
      </div> <!-- content -->

      <div id="footer">
        Abelo 0.4.0 - Copyrigth &copy; 2007 <a href="#" alt="Cooperativa de Tecnologias Livres">Colivre</a>. 
          This software is under <a href="#">GPLv3</a>
      </div>
    </div> <!-- frame -->
  </div> <!-- warp -->

  <ul class="localist_menu" id="localist_menu">
    <li class="localist_unselected"><a href="#"><span><img alt="Us" class="localist_unselected_flag" src="./images/us.png" /></span></a></li>
    <li class="localist_selected"><img alt="Br" class="localist_selected_flag" src="./images/br.png" /></li>
  </ul>

</body>
</html>


