<h1>Editing bank_account</h1>

<% form_tag :action => 'update', :id => @bank_account do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @bank_account %> |
<%= link_to 'Back', :action => 'list' %>
