<%= title t(:listing_bank_accounts) %>

<%= display_list_options 'bank_account', 'account' %>

<%= display_collection @bank_accounts %>

<%= will_paginate @bank_accounts, :params => {:query => @query} %>

