<%= title _('Listing Bank Accounts') %>

<%= display_list_options 'bank_account', 'account' %>

<%= display_collection @bank_accounts %>

<%= pagination_links(@bank_account_pages, :params => {:query => @query}) %> 

