<% for column in BankAccount.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @bank_account.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @bank_account %> |
<%= link_to 'Back', :action => 'list' %>
