.button {
  background-repeat: no-repeat;
  padding-left: 20px;
}

body {
  background-color: #ffffff;
  font-size: 12px;
  font-family: Verdana, Arial, Helvetica, Sans-serif;
  color: #00290d;
  padding:0px;
  margin:0px;
}

#warp {
  position:absolute;
  height:420px;
  width:754px;
  background: url('../images/fundo.jpg');
  margin:-210px 0px 0px -377px;
  top: 50%;
  left: 50%;
  text-align: left;
  padding: 0px;
  border: 0px;
  overflow: none;
  z-index: 1;
}

#frame { 	
  position:absolute;
  height:420px; 
  width:754px;
  margin:-210px 0px 0px -377px;
  top: 50%; 
  left: 50%;
  text-align: left;
  padding: 0px;
  border: 0px;
  overflow: none;
  z-index: 2;
}

#menu { 	
  position:relative;
  height:420px; 
  width:165px;
  margin:0px;
  padding: 0px;
  top: 0px; 
  left: 0px;
  border: 0px;
  z-index: 3;
}
#menu a {
  font-weight: bold;
  color: #00290d;
  text-decoration: none;
}

#menu a:hover {
  color: #000000;
}

#options_site{
  position: absolute;
  top: 214px;
  right: 0;
  border: 0px;
  z-index: 4;
}

#options_idioma{
  position: absolute;
  width: 97px;
  bottom: 30px;
  left: 58px;
  border: 0px;
  z-index: 4;
}
#control_container {
  position:absolute;
  width:60px; 
  height: 25px;
  left:370px;
  bottom:47px;
  z-index:1; 
}

#container {
  position:absolute;
  width: 505px; /*FIXME 245 */
  height: 640px; /*FXIME 240*/
  overflow: hidden;
  top:110px;
  left:177px;
  clip:rect(0,245,240,0);
  /*visibility:hidden;*/
  z-index: 1;
}

#content{
  position:absolute;
  top:0px;
  left:0px;
  z-index: 1;
}

#path_away {
  position:absolute;
  overflow:hidden;
  width: 280px;
  left:140px;
  top:42px;
  font-size: 9px;
  text-align: right;
  color: #6d3718;
  border: 0px;
  z-index:1; 
}
#path_away a {
text-decoration: none;
color: #6d3718;
}
#path_away a.active {
text-decoration: underline;
color: #000000;
}
#path_away a:hover {
text-decoration: none;
color: #000000;
}
#userbar {
  position:absolute;
  margin:0;
  padding:0;
  width:280px;
  height: 45px;
  left:140px;
  top:65px;
  font-size: 12px;
  z-index:1; 
}

#userbar ul {
  vertical-align: middle;
  margin:0;
  padding:0;
}
#userbar li {
  list-style: none;
  display: block;
  float: right;
  text-align: right;
  margin-left: 5px;
  padding-right: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
  border-right: 1px solid black;
}

#userbar a {
  color: #000000;
  text-decoration: none;
}

#userbar a.active {
  font-weight: bold;
}

#userbar a:hover {
  color: #00290d;
  text-decoration: underline;
}
#others {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 320px;
  height: 424px;
  margin: 0;
  padding: 0;
  border: 0px;
}

#others iframe {
  width: 320px;
  height: 424px;
  border: 0px;
}

#footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  font-size: 8px;
  color: #545454;
}

