<%= render :partial => 'interface_menu' %>

<h2><%= _('Change block theme') %></h2>

<div>
<% for theme in @themes do %>
    <%= link_to(design_thumbnail_for(theme), { :action => :design_editor, :theme => theme.name, :destiny_action => params[:action] }, :method => 'post') %>
<% end %>
</div>
