<h2>Editing worker</h2>

<%= start_form_tag :action => 'update', :id => @worker %>
  <%= render :partial => 'form' %>
  <div class='button_bar'>
    <%= button _('Save'), :save %>
    <%= link_to _('Cancel'), :cancel, :action => 'list' %>
  </div>
<%= end_form_tag %>


