<h2><%= @worker.name %></h2>
<p>
<label><%= _('Birthday:') %></label>
<%= @worker.birthday %>
</p>

<p>
<label><%= _('Address:') %></label>
<%= @worker.address %>
</p>

<p>
<label><%= _('CPF:') %></label>
<%= @worker.cpf %>
</p>

<p>
<label><%= _('RG:') %></label>
<%= @worker.rg %>
</p>

<p>
<label><%= _('Function:') %></label>
<%= @worker.function %>
</p>

<p>
<label><%= _('Description:') %></label>
<%= @worker.description %>
</p>
