<% form_remote_tag(:url => {:action => 'create_payment', :id => @stock}, :failure =>"$('add_payment').innerHTML=request.responseText" )  do %>

  <%= error_messages_for 'ledger' %>

  <%= render :partial => 'payment_form' %>

  <%= display_new_info_options @ledger %>

<% end %>

