

<%= subtitle _("Payments [%s]") % link_to_remote( _('Add'), :update => 'payment', :url => {:action => 'add_payment', :id => @stock}) %>

<div id='payment'>

<% if @ledger.nil? %>
  <%= render :partial => 'show_ledgers'%>
<% else %>
  <%= render :partial => 'payment' %>
<% end %>
</div>

