<%= title _('Stock history for %s') % @product.name %>

<%= display_list_options 'stock', 'supplier' %>

<%= display_collection @entries, :id => @product.id %>

<%= pagination_links(@entry_pages, :params => {:query => @query}) %>
