<%= title _('Stock history for %s') % @product.name %>

<%= 
#TODO make it works
#display_list_options 'stock', 'supplier', :id => @product.id 
%>

<%= display_collection @stocks, :product_id => @product %>

<%= pagination_links(@stock_pages, :params => {:query => @query}) %>
