<h1> <%= _('Stock control') %></h1>

<%= display_table(
  [_('Product'), _('Amount in stock')],
  @products.map{|p| 
    [
      p.description, 
      p.ammount_in_stock, 
      link_to(content_tag('span', _('Manage stock')), {:action => 'history', :id => p}, :class => 'tdedit')
    ]},
  { 
    :html_title_options => [:class => 'none'], 
    :html_content_options =>  [{:class => 'product'}, {:class => 'stock endcol'},{:class => 'option'}] 
  }
) %>
