<%= title _('Stock control') %>

<% @products.map do |p| %>
<%= display_list(
      [
        [p.images.map{|i| show_image i}[0]],
        [p.description],
        [p.ammount_in_stock],
        [link_to 'New entry', :action => 'new_entry', :id => p.id]
      ],
      [1,2]
  )
  %>
<% end %>

