<%= title _('Stock control') %>

<%= 
#FIXME put this options to works # display_list_options 'product', 'name', :controller => 'products'  
%>

<%= display_stock_collection @stocks  %>

<%= pagination_links(@stock_pages, :params => {:query => @query}) %>
