
<div id="add_payment">

<%= title _('New stock entry for %s') % @stock.product.name %>

<% form_tag({:action => 'create', :product_id => @stock.product}, :id => 'stock_form')  do %>
  <%= render :partial => 'form'%>
  <%= render :partial => 'payment_on_new' %>
  <%= display_new_info_options @product %> 
<% end %>

</div>
