<%= title _('New stock entry for %s') % @product.name %>

<%= error_messages_for :entry %>
<% form_tag :action => 'create', :id => @product do %>
  <%= render :partial => 'form'%>
  <%= display_new_info_options @product %> 
<% end %>
