<%= title _("Movement in stock on %s") % [@entry.date] %>

<%= display_show_info @entry, :class => 'view_data', :product_id => @product.id %>

<div>
<%= button('back', _('Back'), :back, {:action => 'history', :id => @product.id}.merge(params)) %>
<%= button('edit', _('Edit'), :edit, {:action => 'edit', :id => @entry.id}.merge(params)) %>
</div>
