<%= title _("Movement in stock on %s") % @stock.date %>

<%= display_show_info @stock, :class => 'view_data', :product_id => @stock.product %>

<div>
<%= button('back', _('Back'), :back, {:action => 'history', :product_id => @stock.product}.merge(params)) %>
<%= button('edit', _('Edit'), :edit, {:action => 'edit', :id => @stock.id}.merge(params)) %>
</div>
