<%= error_messages_for 'unit' %>

<!--[form:unit]-->

<% display_form_info @unit do |item| %>

  <%= display_field_form(item, 'name',
        :title => t(:name),
        :content => text_field('unit', 'name')
      )
  %>
  
  <%= display_field_form(item, 'abbreviation',
        :title => t(:abbreviation),
        :content => text_field('unit', 'abbreviation')
      )
  %>
  
<% end %>

<!--[eoform:unit]-->

