<ul>
  <% @displays.each do |display| %>
    <li>
      <%= display.describe_field %>
      <%= t(:display_in_list?_%s) % display.display_in_list %>
      <%= t(:break_line?_%s) % display.break_line %>
      <%= t(:display_title?_%s) % display.display_title %>
    </li>
  <% end %>
</ul>

