<ul>
  <% @displays.each do |display| %>
    <li>
      <%= display.describe_field %>
      <%= _('Display in list? %s') % display.display_in_list %>
      <%= _('Break Line? %s') % display.break_line %>
      <%= _('Display Title? %s') % display.display_title %>
    </li>
  <% end %>
</ul>

