<h1><%= _('Editing "%s"') % model_name(@object.name.underscore) %></h1>

<%= start_form_tag :action => 'update', :model_name => @model_name, :id => @object.id %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<%= end_form_tag %>

<%= link_to 'Show', :action => 'show', :model_name => @model_name, :id => @object.id %> |
<%= link_to 'Back', :action => 'list', :model_name => @model_name %>
