<!--[form:target]-->

  <p><label for="historical_name"><%= _('Name')%></label><br/>
  <%= text_field 'historical', 'name' %></p>

  <p><label for="historical_type_of"><%= _('Type')%></label><br/>
  <%= select('historical', 'type_of', ['C', 'D']) %></p>

<p><b><%= _('Subtitle') %></b></p>
<p>C = <%= _('credit') %></p>
<p>D = <%= _('debit') %></p>

<!--[eoform:target]-->
