<%= title _('Editing Configuration of Organization %s') % @organization.name %>

<% form_tag :action => 'update', :id => @configuration  do %>
  <%= render :partial => 'form' %>
  <%= display_edit_info_options(@configuration) %>
<% end %>

