<% if @organization.nil? %>
  <%= title _('Editing Configuration %s') % @configuration.name %>
<% else %>
  <%= title _('Editing Configuration of Organization %s') % @organization.name %>
<% end %>


<% form_tag :action => 'update', :id => @configuration  do %>

  <%= error_messages_for 'configuration' %>

  <% display_form_info @configuration do |item| %>
    <%= render :partial => 'form' %>
  <% end %>

  <%= display_edit_info_options(@configuration) %>
<% end %>

