<%= title _('Editing Configuration of Organization %s') % @organization.name %>

<% form_tag :action => 'update', :id => @configuration  do %>
  <%= render :partial => 'form' %>
  <%= button 'back', _('Back'), :back, :action => 'list' %>
  <%= button 'save', _('Save'), :save %>
<% end %>

