<%= title t(:managing_organizations) %>

<%= display_list_options 'configuration', 'name' %>

<%= display_collection @configurations %>

<%= will_paginate @configurations, :params => {:query => @query} %>

