<% if @organization.nil? %>
  <%= title @configuration.name %>
<% else %>
  <%= title @organization.name %>
<% end %>

<%= display_show_info @configuration %>

<%= button('edit', _('Edit'), :list, :action => 'edit', :id => @configuration) %> 
