<% if @organization.nil? %>
  <%= title @configuration.name %>
<% else %>
  <%= title @organization.name %>
<% end %>

<%= display_show_info @configuration %>

<div class="display_info_options">
  <%= button('edit', _('Edit'), :edit, :action => 'edit', :id => @configuration, :organization_id => @organization) %> 
</div>

