  <tr>
    <td><%= '&nbsp;&nbsp;' * customer_category.level  %><%=  customer_category.name %></td>
    <td><%= button t(:new_subcategory), :add, :action => 'new', :parent_id => customer_category %></td>
    <td><%= button t(:edit), :edit, :action => 'edit', :id => customer_category %></td>
    <td><%= button t(:destroy'),_:remove,_{_:action_=>_'destroy',_:id_=>_customer_category_},_:confirm_=>__('are_you_sure?), :method => 'post' %></td>
  </tr>
  <% for child in customer_category.children %>
    <%= render :partial => 'list', :locals => { :customer_category => child } %>
  <% end %>
