<h2>Listing customer_categories</h2>

<table>
  <tr>
    <th><%= _('Name') %></th>
  </tr>
  
<% for customer_category in @customer_categories.select { |c| c.top_level? } %>
  <%= render :partial => 'list', :locals => { :customer_category => customer_category } %>
<% end %>
</table>

<br />

<%= button 'New top-level customer category', :add, :action => 'new' %>
