<h2> <%= t(:new_customer_category) %> </h2>

<% form_tag :action => 'create' do %>
  <%= render :partial => 'form' %>
  <div class='button_bar'>
    <%= button _("Create"), :save %>
    <%= button t(:cancel), :cancel, :action => 'list' %>
  </div>
<% end %>

