<% for column in CustomerCategory.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @customer_category.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @customer_category %> |
<%= link_to 'Back', :action => 'list' %>
