/* Autor: Valessio S Brito <valessio@colivre.coop.br>  */

body {
  margin:0px;
  padding:0px;
  color: #545454;
  font: 14px/1.5em Verdana, Arial, sans-Serif;
  background: #fffaf0 url('../images/bgbody.png') top right repeat-y;
}

#header {
  margin:0px;
  padding:0px;
  height: 110px;
  background: #ffffff url('../images/bgheader.png') bottom left repeat-x;
}

#info_org {
  font-size: 17px;
  color: #c4a000;
}

#info_org span {
font-size: 19px;
font-weight: bold;
}

#info_org {
  padding-left: 80px;
  padding-right: 160px;
  height: 78px;
  display:table-cell;
  vertical-align: middle;
}

#logo_org {
position: absolute;
top: 2px;
left: 2px;
margin-right: 5px;
}

#banner_top {
position: absolute;
top: 2px;
right: 5px;
}


#form label {
  color: black;
  font-weight: bold;
  display: block;
}

#footer {
margin-top: 50px;
padding-left: 60px;
bottom: 0;
height: 50px;
}

.clear{
  clear: both;
}

.product_color{
  width: 140px;
  height: 22px;
}

/* Main Content */
#box_1 {
  border: 2px solid black;
  margin-right: 220px;
}

/* TODO Remove This */
#box_3{
  border: 2px solid green;
}
