table {
text-align: left;
margin: 0px;
padding: 0px;
border-spacing: 0;
margin-top: 20px;
clear: left;
width: 100%;

}

tr th {
background: #f4edcf;
text-align: center;
padding: 2px;
width: 30px;
height: 30px;
}

tr td {
background: #f9f5e6;
width: 30px;
height: 30px;
text-align: center;
}
tr.even td {
background: #f9f5e6;
width: 30px;
height: 30px;
}

tr.odd td {
background: #fffaf0;
width: 30px;
height: 30px;
}
tr:hover td {
border-color: #f9f5e6;
background: #f4edcf;
}

td.endcol {
border-left: 2px solid #f4edcf;
border-right: 2px solid #f4edcf;
}

td.endrow {
border-bottom: 2px solid #f4edcf;
}
