
#loginform {
  margin-left: 50px;
  width: 190px;
  font-size: 14px;
}

#banner_header {
  position: absolute;
  left: 50%;
  margin-left: -150px;
  background: url('../images/bannerabelo_300x100.png') top center no-repeat;
  width: 300px;
  height: 100px;
}

#loginform input#password ,#loginform  input#login,#loginform  input#user_login,
#loginform input#user_email,#loginform  input#user_password,#loginform  #user_password_confirmation {
  background: url('../images/bginput.png'); no-repeat;
  overflow: hidden;
  border: none;
  padding: 7px 5px 0px 5px;
  width: 180px;
  height: 26px;
  color: #555;
  font-size: 16px;
  text-align: center;
}

input#password:hover, input#login:hover, input#user_login:hover,
input#user_email:hover, input#user_password:hover, input#user_password_confirmation:hover,
input#password:focus, input#login:focus, input#user_login:focus,
input#user_email:focus, input#user_password:focus, input#user_password_confirmation:focus {
  color: #000;
}

input.button_login:hover, input.button_save:hover {
  color: #000;
}

a.with_text {
  background-position: 0px -1px !important;
}

#center_box input#user_administrator {
  width: 20px;
  height: 20px;
}

#center_box p:hover {
  color: #000;
}

#center_box .button_bar {
  text-align: center;
}

