<%= error_messages_for 'organization' %>

<!--[form:organization]-->
<p><label for="organization_name">Name</label><br/>
<%= text_field 'organization', 'name'  %></p>

<p><label for="organization_cnpj">Cnpj</label><br/>
<%= text_field 'organization', 'cnpj'  %></p>

<p><label for="organization_nickname">Nickname</label><br/>
<%= text_field 'organization', 'nickname'  %></p>
<!--[eoform:organization]-->

