  <%= display_field_form(@organization, 'state',
        :title => t(:state)

      )
  %>

  <%= observe_field('organization_state',
     :url => 'select_city',
     :update => 'city_option',
     :with => "'state_id=' + escape(value)"
   )%>


  <%= display_field_form(@organization, 'city',
        :title => t(:city),
        :html_options => {:class => 'break_line'}
      )
  %>

