<%= title _('Editing Organization %s') % @organization.name %>

<% form_tag :action => 'update', :id => @organization  do %>
  <%= render :partial => 'form' %>
  <%= display_edit_info_options(@organization) %>
<% end %>

