<%= title _('Managing organizations') %>

<%= display_list_options 'organization', 'name' %>

<%= display_collection @organizations %> 

<%= pagination_links(@organization_pages, :params => {:query => @query}) %>

