<%= title t(:managing_organizations) %>

<%= display_list_options 'organization', 'name' %>

<%= display_collection @organizations %> 

<%= will_paginate(@organizations, :params => {:query => @query}) %>

