<%= title _('Adding Organization') %>

<% form_tag :action => 'create' do %>
  <%= render :partial => 'form' %>

  <div class='button_bar'>
    <%= button 'save',  _("Create"), :save %>
    <%= button 'back', _('Back'), :back, :action => 'list' %>
  </div>
<% end %>

