<h1>New organization</h1>

<%= start_form_tag :action => 'create' %>
  <%= render :partial => 'form' %>

  <div class='button_bar'>
    <%= button "Create", :save %>
    <%= button 'Back', :cancel, :action => 'list' %>
  </div>
<%= end_form_tag %>

