<% for column in Organization.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @organization.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @organization %> |
<%= link_to 'Back', :action => 'list' %>
