
<%= title @organization.name %>

<p> <b><%= t(:name) %>:</b> <%= @organization.name %></p>
<p> <b><%= t(:cnpj) %>:</b> <%= @organization.cnpj %></p>
<p> <b><%= t(:nickname) %>:</b> <%= @organization.identifier %></p>

<div class="display_info_options">
  <%= button('back', t(:back), :list, :action => 'list' ) %>
  <%= button('edit', t(:edit), :list, :action => 'edit', :organization_id => @organization) %> 
</div>
