  <tr>
    <td><%= '&nbsp;&nbsp;' * category.level  %><%=  category.name %></td>
    <td><%= button t(:new_subcategory), :add, :action => 'new', :parent_id => category, :category_type => @category_type %></td>
    <td><%= button t(:edit), :edit, :action => 'edit', :id => category %></td>
    <td><%= button t(:destroy'),_:remove,_{_:action_=>_'destroy',_:id_=>_category_},_:confirm_=>__('are_you_sure?), :method => 'post' %></td>
  </tr>
  <% for child in category.children %>
    <%= render :partial => 'list', :locals => { :category => child } %>
  <% end %>
