  <tr>
    <td><%= '&nbsp;&nbsp;' * category.level  %><%=  category.name %></td>
    <td><%= button _('New subcategory'), :add, :action => 'new', :parent_id => category, :category_type => @category_type %></td>
    <td><%= button _('Edit'), :edit, :action => 'edit', :id => category %></td>
    <td><%= button _('Destroy'), :remove, { :action => 'destroy', :id => category }, :confirm => _('Are you sure?'), :method => 'post' %></td>
  </tr>
  <% for child in category.children %>
    <%= render :partial => 'list', :locals => { :category => child } %>
  <% end %>
