<%= render :partial => 'menu' %>

<%= title _('Editing %s ') % Category.describe(@category_type) %>

<% form_tag :action => 'update', :id => @category, :category_type => @category_type  do %>
  <%= render :partial => 'form' %>
  <%= display_edit_info_options(@category, :category_type => @category_type) %>
<% end %>

