<%= title _('Editing Category') %>

<% form_tag :action => 'update', :id => @category, :category_type => @category_type  do %>
  <%= render :partial => 'form' %>
  <div class='button_bar'>
    <%= button 'save', _('Save'), :save %>
    <%= button 'back', _('Back'), :back, {:action => 'list', :category_type => @category_type} %>
  </div>
<% end %>

