<%= title _('Categories') %>

<ul>
  <li> <%= link_to _('Product'), {:action => 'list', :category_type => 'product' } %> </li>
  <li> <%= link_to _('Customer'), {:action => 'list', :category_type => 'customer' } %> </li>
  <li> <%= link_to _('Worker'), {:action => 'list', :category_type => 'worker' } %> </li>
  <li> <%= link_to _('Ledgers'), {:controller => 'ledger_categories'} %> </li>
</ul>
