<%= title t(:categories) %>

<ul>
  <li> <%= link_to t(:product), {:action => 'list', :category_type => 'product' } %> </li>
  <li> <%= link_to t(:customer), {:action => 'list', :category_type => 'customer' } %> </li>
  <li> <%= link_to t(:worker), {:action => 'list', :category_type => 'worker' } %> </li>
  <li> <%= link_to t(:ledgers), {:controller => 'ledger_categories'} %> </li>
</ul>
