<%= title _('Listing categories') %>

<%= display_list_options 'category', 'name', :category_type => @category_type %>

<%= display_collection @categories, {:category_type => @category_type} %>

<%= pagination_links(@category_pages, :params => {:query => @query}) %>

