<%= title _('New Category') %>

<% form_tag :action => 'create', :category_type => @category_type do %>
  <%= render :partial => 'form' %>
  <div class='button_bar'>
    <%= button 'save', _("Create"), :save %>
    <%= button 'back', _('Back'), :back, :action => 'list', :category_type => @category_type %>
  </div>
<% end %>

