<%= title _('New Category') %>

<% form_tag :action => 'create', :category_type => @category_type do %>
  <%= render :partial => 'form' %>
  <%= display_new_info_options(@category, :category_type => @category_type) %>
<% end %>

