<%= render :partial => 'menu' %>

<%= title Category.describe(@category_type) %>

<%= display_show_info @category, :class => 'view_data'%>

<%= display_show_info_options(@category, {:category_type => @category_type}) %>
