<%= error_messages_for 'periodicity' %>

<!--[form:periodicity]-->
<p><label for="periodicity_name">Name</label><br/>
<%= text_field 'periodicity', 'name'  %></p>

<p><label for="periodicity_number_of_days">Number of days</label><br/>
<%= text_field 'periodicity', 'number_of_days'  %></p>
<!--[eoform:periodicity]-->

