<%= error_messages_for 'periodicity' %>

<!--[form:periodicity]-->

<% display_form_info @periodicity do |item| %>

  <%= display_field_form(item, 'name',
        :title => _('Name'),
        :content => text_field('periodicity', 'name')
      ) 
  %>

  <%= display_field_form(item, 'number_of_days',
        :title => _('Number of Days'),
        :content => text_field('periodicity', 'number_of_days')
      ) 
  %>

<% end %>
<!--[eoform:periodicity]-->

