<%= title t(:listing_periodicities) %>

<%= display_list_options 'periodicity', 'name' %>

<%= display_collection @periodicities %>

<%= will_paginate @periodicities, :params => {:query => @query} %>

