<%= title _('Listing periodicities') %>

<%= display_list_options 'periodicity', 'name' %>

<%= display_collection @periodicities %>

<%= pagination_links(@periodicity_pages, :params => {:query => @query}) %>

