<% for column in Periodicity.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @periodicity.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @periodicity %> |
<%= link_to 'Back', :action => 'list' %>
