
<%= title(_('Editing product')) %>

<% form_tag :action => 'update', :id => @product do %>
    <%= render :partial => 'form' %>
  <div class='button_bar'>
    <%= button 'save', _('Save'), :save %>
    <%= button 'cancel', _('Cancel'), :cancel, :action => 'list' %>
    <%= button 'image', _('Images'), :img, :action => 'images', :id => @product %>
  </div>
<% end %>
