
<%= title(_('Editing product')) %>

<% form_tag :action => 'update', :id => @product do %>
    <%= render :partial => 'form' %>   
    <%= display_edit_info_options(@product) %>
    <%= button 'image', _('Images'), :img, :action => 'images', :id => @product %>  
<% end %>
