
<%= title(_('Editing Product')) %>

<%= start_form_tag :action => 'update', :id => @product %>
  <div id="form">
    <%= render :partial => 'form' %>
  </div>
  <div class='button_bar'>
    <%= button _('Save'), :save %>
    <%= button _('Cancel'), :cancel, :action => 'list' %>
    <%= button_remote(_('Reset'), :reset ,{:update => 'form', :url => {:action => 'reset'}}) %>
    <%= button _('Images'), :add, :action => 'images', :id => @product %>
  </div>
<%= end_form_tag %>
