<h2>New product</h2>

<%= start_form_tag :action => 'create' %>
  <%= render :partial => 'form' %>
  <div class='button_bar'>
  <%= button "Create", :save %>
  <%= button 'Cancel', :cancel, :action => 'list' %>
<%= end_form_tag %>

