
<%= title _("Product %s") % @product.name %>

<%= display_show_info @product %>

<strong><%= t(:customers) %>:</strong>

<ul>
<% for customer in @customers %>
  <li><%= link_to _(" %s ") % customer.name , :controller => 'system_actors', :action => 'show', :id => customer, :actor => 'customer'  %></li>
<% end %>
</ul>

<%= render :partial => 'list_images' %>

<%= display_show_info_options(@product) %> 

