<h2><%= @product.name %></h2>
<p>
<label><%= _('Price:') %></label>
<%= @product.sell_price %>
</p>

<%= render :partial => 'list_images' %>
<%= link_to 'Edit', :action => 'edit', :id => @product %> |
<%= link_to 'Back', :action => 'list' %>
