<%= error_messages_for 'supplier' %>

<!--[form:supplier]-->
<p><label for="supplier_name">Name</label><br/>
<%= text_field 'supplier', 'name'  %></p>

<p><label for="supplier_cnpj">Cnpj</label><br/>
<%= text_field 'supplier', 'cnpj'  %></p>
<!--[eoform:supplier]-->

