<%= title  t(:hello_name, :name => @current_user.login)  %>

<% if current_user.administrator? %>
  <%= link_to t(:manage_organizations), :controller => 'organizations' %>
<% end %>

<% unless @organizations.empty? %>
  <h3><%= t(:organizations) %></h3>
  <ul>
    <% for organization in @organizations %>
      <li><%= link_to_organization organization %></li>
    <% end %>
  </ul>
<% end %>
