<ul id="list_categories">
  <% @product_categories.each do |pc| %>
    <li>
      <% if pc.has_children? %>
        <%= image_link pc.image, { :action => 'list', :product_category => pc.id} %>
      <% else %>
        <%= image_link pc.image, { :action => 'list_products', :product_category => pc.id  } %>
      <% end %>
      <p> <%= pc.name %> </p>
    </li>
  <% end %>
</ul>
