<ul id="store_list">
  <% @products.each do |p| %>
    <li>
      <%= image_link p.image, { :action => 'show_product', :product => p.id} if p.image %>
      <p><%= link_to "#{p.description}", {:action => 'show_product', :product => p.id} %></p>
    </li>
  <% end %>
</ul>
