<%= category_hierarchy @category %>

<ul id="store_list">
  <% @products.each do |p| %>
    <li>
      <%= image_link p.image, { :action => 'product', :id => p.id} %>
      <p><%= link_to p.description, {:action => 'product', :id => p.id} %></p>
    </li>
  <% end %>
</ul>
