<%= category_hierarchy @product.category %> &rarr; <%= @product.description %>

<h2><%= @product.description %></h2>
<% @product.images.each do |i|%>
<%= show_image i %>
<% end %>
<ul>
  <li>Price: <%= @product.sell_price  %></li>
  <li>Unit: <%= @product.unit %></li>
  <% if !@product.size.blank? %>
    <li> Size: <%= @product.size %></li>
  <% end %>
  <% if !@product.color.blank? %>
    <li> Color: <%= @product.color %></li>
  <% end %>
</ul>
