<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>abelo &rarr; admin</title>
  <%= stylesheet_link_tag 'common' %>
</head>
<body>

<p style="color: green"><%= flash[:notice] if flash[:notice] %></p>

<%= yield %>

</body>

</html>

