<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Financas on Rails: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'style' %>
  <%= javascript_include_tag :defaults %>
</head>

<body>
    <div id="page">
        <div id="usermenu">
            <b>username</b> | Settings | Log off
        </div>
    
        <div id="header">
        	<table>
        		<tr>
        			<td nowrap="true">
        				<h1>Financas on Rails!</h1>
        			</td>
					<td nowrap="true">
						<% form_remote_tag :url => {:controller => 'ledgers', :action => 'find_ledgers'} do %>
							<%= text_field_tag 'find', nil, :size => '50' %>
							<%= submit_tag 'Procurar lancamentos' %> 
						<% end %>
					</td>
        	</table>
        </div>   
		
        <div id="context">
			<div id="menu">
				<%= link_to_unless_current 'Lacamentos', { :controller => 'ledgers', :action => "index" } %> |
				<%= link_to_unless_current 'Categories & Orcamentos', {:controller => 'categories',  :action => "index" } %>
			</div> 
            <%= yield  %>
			<p id="flash" style="color: green"><%= flash[:notice] %></p>
			
	        <div id="pagefooter">
	            versão <%=
#FOR_VERSION 
%> | <a href="http://rubyforge.net/projects/financasonrails">site do projeto</a> | desenvolvido por <a href="http://www.guzenski.com.br">Maximiliano Ferreira Guzenski</a> 
    	    </div>
        </div>        
    </div>
</body>
</html>
