<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <title> 
      <% if current_user.administrator %>
        Abelo &rarr; <%= t(:administration) %>  
      <% else %>
        Abelo 
      <% end %>
    </title>
    <%= javascript_include_tag 'fckeditor/fckeditor' %>
    <%= design_all_header_tags %>
    <link rel="shortcut icon" href="<%=image_path('logo.ico')%>" />
  </head>

  <body >
    <div id="warp">
      <div id="frame">
        <%= main_menu %>

        <div id="header">
          <div id="info_org">
            <% if current_user.administrator? %>
              <span><%= t(:abelo_administration) %></span>
            <% else %>
              <span><%= t(:abelo) %></span>
            <% end %>
          </div>

          <div id="banner_top"><span>Abelo</span></div>
          
          <div id="userbar">
            <div class="login_bar" >
              <% if current_user.administrator %>
                <%= design_display_function_button( 'go-jump', t(:go_to),visual_effect(:toggle_slide, 'menu', :duration => 0.6), {:id => "goto", :accesskey => "g"}) %>
              <% end %>
              <%= design_display_button('edit_small' , t(:my_account), {:controller => 'public', :action => 'edit_user', :id => self.current_user}, :id => "edit_profile", :accesskey => "e") %> 
              <%= design_display_button( 'system-log-out', t(:logout), {:organization_nickname => nil, :controller => 'users', :action => 'logout'}, :id => "logout", :accesskey => "q", :confirm => t(:exit_from_system), :method => 'post') %>
            </div>
        
	</div>
        </div>
        <%= display_navigation_bar %>
        <%= notice_box flash[:notice] %>

        <%= tabbed_navigation 'first' %>

        <div id="content">
          <%= design_display(yield) %>
        </div>

        <div id="footer">
          <%= footer %>
        </div>
      </div>
    </div>
    <%= localist_menu %>
  </body>
</html>
