<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <title> <%= t(:abelo) %> </title>
    <%= javascript_include_tag 'fckeditor/fckeditor' %>
    <%= design_all_header_tags %>
    <%= javascript_include_tag 'spinner' %>
    <%= javascript_include_tag 'show_hide' %>
    <%= include_lightbox_header %>
    <link rel="shortcut icon" href="<%=image_path('logo.ico')%>" />
  </head>

  <body class="controller-<%= params[:controller] %> action-<%= params[:action] %>" >
  <%= image_tag 'spinner.gif', :id=>'spinner', :align=>'absmiddle', :style=>'display:none; float:left;' %>

    <div id="warp">
      <div id="frame">

        <%= main_menu %>

        <div id="header">
          <div style="background-image: url(<%= image_path('org_toca.png') %>)"
               id="logo_org"><span> <%= t(:organization_logo) %></span></div>
          <div id="info_org">
            <span><%= @organization.name %></span><br />
            <%= t(:cnpj)%>: <%= @organization.cnpj %>
          </div>
          <div id="banner_top"><span>Abelo</span></div>
          <div id="userbar">
            <div class="login_bar">
              <%= design_display_function_button( 'with_text go-jump', t(:go_to),visual_effect(:toggle_slide, 'menu', :duration => 0.6), {:id => "goto", :accesskey => "g"}) %>
              <%= design_display_button( 'with_text edit_small' , _('My account'), {:controller => 'public', :action => 'edit_user', :id => self.current_user}, :id => "edit_profile", :accesskey => "e") %> 
              <%= design_display_button( 'with_text system-log-out', t(:logout'),_{:organization_nickname_=>_nil,_:controller_=>_'users',_:action_=>_'logout'},_:id_=>_"logout",_:accesskey_=>_"q",_:confirm_=>__('exit_from_system?'),_:method_=>_'post) %>
            </div>
             
          </div>
	<%= display_navigation_bar %>
	</div>
        <%= notice_box flash[:notice] %>

        <%= tabbed_navigation 'first' %>

        <div id="content">
          <%= design_display(yield) %>
        </div>

        <div id="footer">
          <%= footer %>
        </div>
      </div>
    </div>
    <%= localist_menu %>
  </body>
</html>
