<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">
<html class="controller-<%= params[:controller] %> action-<%= params[:action] %>">
<head>
  <title> <%= _('Abelo') %> </title>
  <%= stylesheet_link_tag 'point_of_sale' %>
  <%= design_icon_theme_stylesheet_link_tags %>
  <%= javascript_include_tag 'showAccessKeys' %>
  <%= javascript_include_tag 'scroolItemsTable' %>
  <%= javascript_include_tag :defaults %>
  <link rel="shortcut icon" href="<%=image_path('logo.ico')%>" />
</head>

<body onload="setInterval('scroolItemsTable()',1000)">

<div id="header">

  <div id="user_bar">

    <div id="login_bar">
      <%= button( 'edit_small' , _('Edit prederences'), :edit_small, {:controller => 'users', :action => 'edit', :id => self.current_user}, :id => "edit_profile", :accesskey => "e", :addclass => "bt_small") %>
      <%= button( 'system-log-out', _('Logout'), :logout, {:controller => 'users', :action => 'logout'}, :id => "logout", :accesskey => "q", :confirm => _('Exit from system?'), :method => 'post', :addclass => "bt_small") %>
    </div> <!-- login_bar -->
    
    <div id="org_bar">
      <div id="org_link"> <%= link_to_organization @organization %> </div>
      <div id="salesman"> <%= _('Salesman: <i>%s</i>') % self.current_user.login %> </div>
    </div> <!-- org_bar -->

  </div><!-- user_bar -->

</div><!-- header -->


<div id="content">

  <%= yield %>

</div><!-- content -->


<div id="footer">

<div id="banner_bottom"><span> <%= _('Abelo') %> </span></div>

</div><!-- footer -->

<%= link_to_function content_tag(:span,_('Access Keys Help')), "showAccessKeys({intro: '#{_('This are the access keys on this page:')}'})", :id => 'show_access_keys', :class => 'button help', :accesskey => 'h' %> 


</body>

</html>
